.mantine-Popover-dropdown {
  z-index: 2001 !important;
}

.mantine-Popover-dropdown[data-dates-dropdown="true"] {
  width: 400px !important;
}

.mantine-Menu-dropdown {
  z-index: 2001 !important;
}
