*.[oa]
*~

# Ignore node_modules folder
node_modules
build/api
pysodadist
pyflaskdist
dist
src/Users
semantic
semantic.json

*.pyc
src/package-lock.json
src/.DS_Store
.DS_Store
electron-builder.yml
website/.eslintcache
website/images-bhavesh/~$suggestions.pptx
website/package-lock.json
tools/analytics/clients_secret.json
tools/analytics/result_csv
tools/analytics/.ipynb_checkpoints
tools/analytics/client_secrets.json
tools/analytics/iframe_figures
src/build
.env
.env.local
.env.production
