.selectCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  width: 285px !important;
}

.selectHeader {
  width: 125px;
}

.thumbnailImage {
  width: 180px !important;
  height: 180px !important;
  border-radius: 8px !important;
}

.thumbnailOverlay {
  width: 180px !important;
  height: 180px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: flex-start !important;
  justify-content: flex-end !important;
  padding: 10px !important;
  background-color: rgba(0, 20, 0, 0.2) !important;
}

.card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.check {
  margin: 0px !important;
  margin-bottom: -5px !important;
}
.checkBox {
  background-color: white;
  border-radius: 3px;
}
