.selectCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  width: 110px !important;
}

.selectHeader {
  width: 125px;
}

.thumbnailImage {
  width: 80px !important;
  height: 80px !important;
}
