/* Demo */

button {
  cursor: pointer !important;
}

body.waiting * {
  cursor: progress;
}

.demo:first-of-type {
  margin-top: 2rem;
}

.demo:last-of-type {
  margin-bottom: 2rem;
}
@media (min-width: 940px) {
  .demo:last-of-type {
    margin-bottom: 4rem;
  }
}

.demo-wrapper {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
}

/* Toggle Button ----------------------------- */

.demo-toggle-button {
  position: relative;
  display: block;
  margin: 0.5em;
  padding: 0.5em 1.5em;
  line-height: 1.5;
  font: inherit;
  font-weight: 600;
  font-size: 1.3em;
  text-align: left;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: border-color 0.12s;
  outline: none;
  cursor: pointer;
  /*border: 2px solid black;*/
}

.demo-toggle-button:before,
.demo-toggle-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 50%;
  background-color: hsl(0, 0%, 88%);
  transition: transform 0.2s cubic-bezier(0.4, 0.1, 0, 1);
}

.demo-toggle-button:before {
  top: 0;
  transform-origin: bottom center;
  transform: translateX(0.7em) rotate(-30deg) scale(0.75);
}

.demo-toggle-button:after {
  bottom: 0;
  transform-origin: top center;
  transform: translateX(0.7em) rotate(30deg) scale(0.75);
}

.is-open .demo-toggle-button:before,
.is-open .demo-toggle-button:after {
  transform: rotate(0deg);
}

.demo-toggle-button:focus:before,
.demo-toggle-button:focus:after {
  background-color: currentColor;
}

/* Meta info */

.demo-meta {
  margin-top: 0.2em;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-subtle);
}

.demo-meta-divider {
  margin: 0 0.5em;
}

/* Demo Box ----------------------------- */

.demo-box {
  display: none;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 6px;
  /*border: 1px solid var(--color-border);*/
  border: 1px solid hsla(190, 60%, 36%, 1);
  background-color: var(--color-bg);
  /*background-color: transparent;*/
}

.demo-box:before {
  content: "";
  position: absolute;
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border-top: inherit;
  border-right: inherit;
  border-top-right-radius: 3px;
  transform: rotate(-45deg);
}

.is-open .demo-box {
  display: block;
  animation: demo-box-fade-in 0.2s cubic-bezier(0, 0.2, 0.2, 0.96);
}
@keyframes demo-box-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.demo-box > p:first-child {
  margin-top: 0;
}

.demo-box h5 {
  font-size: 1em;
  margin-bottom: 0.6em;
  color: black;
}

.demo-box p {
  padding: 5px;
}

/* Demo Controls ----------------------------- */

.demo-controls {
  display: flex;
  align-items: center;
  margin: 10px;
}

.div-dd-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  background-color: white;
}

.div-dd-info.subjects {
  margin: 0;
}

.ui.accordion .content.active {
  display: contents;
}

.ui.styled.accordion {
  width: 90% !important;
  margin: 0 auto;
  max-width: 850px;
}

.sub.accordion {
  box-shadow: none !important;
}

#title-optional-age {
  background: #fff !important;
  padding-top: 0 !important;
  padding-bottom: 20px !important;
  font-size: 14px !important;
}

.ui.input {
  width: 100%;
}

.ui.selection.dropdown {
  height: auto !important;
  width: 100% !important;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: 0 !important;
}

.demo-controls-head {
  display: flex;
  align-items: left;
  margin: 10px;
  width: 18%;
  float: right;
  font-size: 14px;
  margin: 10px 0;
  /* padding-right: 10px; */
  padding: 4px 6px;
  text-align: right;
  vertical-align: middle;
  color: #a0a0a0;
  font: bold;
  font-weight: 500;
}

.demo-controls-head.mandatory {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.row.mandatory {
  line-height: 1;
}

.demo-controls-body {
  display: flex;
  width: 75%;
  float: right;
  height: fit-content;
}

.demo-controls-end {
  display: flex;
  width: 30px;
  height: 30px;
}

.tooltipnew.demo-controls-end.subjects {
  display: none;
}

.demo-button-next-step {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: 0.4em 1.2em;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.demo-button {
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.1em;
  padding: 0.4em 1.2em;
  color: inherit;
  background-color: transparent;
  width: 180px;
  cursor: pointer;
}

.demo-button:focus {
  outline: none;
  background-color: white;
}

.demo-button:active {
  border-color: var(--color-border);
  transform: scale(1.1);
}

.demo-button:hover {
  background-color: hsla(190, 60%, 36%, 1);
  color: white;
  border-color: var(--color-accent);
}

.demo-button-table {
  align-self: flex-start;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 0.8em;
  padding: 0.1em 1.1em;
  color: grey;
  background-color: transparent;
  width: 80px;
  cursor: pointer;
}

.demo-button-table:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
}

.demo-button-table.drag {
  border: 1px dashed;
}

.demo-button-table.drag:hover {
  background-color: transparent;
}

.demo-button-prev-next {
  align-self: flex-start;
  padding: 4px 4px 4px 4px;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.1em;
  color: inherit;
  background-color: transparent;
  width: 110px;
  cursor: pointer;
  text-align: center;
}

.demo-button-prev-next:hover {
  background-color: var(--color-light-green);
  color: white;
  outline: none;
  /* border-color: var(--color-accent); */
}

.demo-button-prev-next:active {
  outline: none;
  /* border-color: var(--color-border); */
  transform: scale(1.1);

  /* background-color: white; */
  /* color: hsla(190,60%,36%,1) */
}

.demo-input {
  flex: 1;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: 0.4em 0.8em;
  color: inherit;
  background-color: transparent;
}

.demo-input:focus {
  outline: none;
  border-color: hsl(0, 0%, 70%);
  background-color: white;
}

.demo-response {
  flex: 1;
  word-break: break-word;
  font: inherit;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
}

.demo-response-upload {
  width: 70%;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
  font: inherit;
}

.smooth-appear {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.disappear {
  opacity: 0;
}
.demo-button.smooth-disappear:focus {
  outline: inherit;
  border-color: inherit;
  background-color: inherit;
}

button.download-metadata:hover {
  background-color: hsla(192, 69%, 23%);
}

.milestone-upload-text {
  width: 200px;
  height: 34px;
  float: left;
  text-align: center;
  outline: none;
  box-shadow: none;
  border: none;
  border-color: var(--color-light-green);
  background-clip: border-box;
  cursor: pointer;
}

.button-milestone-upload {
  width: 60px;
  height: 34px;
  float: right;
  border-radius: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: var(--color-light-green);
  color: white;
  box-sizing: none;
  cursor: pointer;
  background-clip: none;
  border: none;
}

.button-milestone-upload:active {
  transform: scale(1.1);
}

.download-image {
  border: 0;
  float: left;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

/* Current interactive UI's main content */
.dash-app {
  padding-bottom: 10px !important;
}

.dash-title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0 !important;
  color: #222c3c;
  opacity: 0.9;
  font-style: bold;
  font-size: 17px;
  border-bottom: 1px solid #000;
  padding: 0;
  margin: 0;
  text-align: left;
}

.dash-content {
  display: flex;
  background: var(--color-bg-white);
  padding-top: 0 !important;
  padding-bottom: 10px !important;
  z-index: 5000;
  padding-right: 15px !important;
  padding-left: 5px !important;
  height: 100%;
}

.dash-content.show {
  display: flex;
  visibility: visible;
}

.dash-content.main {
  flex-direction: column;
  justify-content: center;
}

/* ProTip ----------------------------- */
.download {
  background: #f5f5f5;
  color: var(--color-bg-white);
  display: table-cell;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.demo-protip {
  margin-top: 2rem;
  padding: 1.5rem 2rem 2rem 2rem;
  border: 1px solid hsla(0, 0%, 0%, 0.06);
  border-radius: 6px;
  background: var(--color-accent)
    linear-gradient(hsla(0, 0%, 100%, 0.85), hsla(0, 0%, 100%, 0.85));
}

.demo-protip h2 {
  margin: 0 0 0.5rem 0;
}

.demo-protip strong {
  font-weight: 600;
}

.labelradio {
  color: #303030;
}

input[type="radio"].with-style:checked ~ label,
input[type="checkbox"].with-style:checked ~ label {
  font-size: 1.1em;
  font-weight: bold;
  color: inherit;
  margin-top: -1px;
  vertical-align: middle;
}

.labelradio-manifest {
  color: #303030;
}

.datasetsaveoption {
  display: none;
}

.filepath {
  display: block;
  margin: 0;
  padding: 0.5em 1.5em;
}

textarea.outputprint {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font: inherit;
  max-height: 40px;
  resize: vertical;
}

/* Dropdowns */
select.my-dropdown {
  width: 60%;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: var(--color-bg-white);
  font: inherit;
  height: 38px;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid hsla(0, 0%, 0%, 0.08);
  border-width: 0 1px 1px 0;
}

th {
  background-color: hsla(0, 0%, 50%, 0.06);
}

/* th:hover {
  background-color: lightblue;
} */

th,
td {
  text-align: center;
  border: 1px solid hsla(0, 0%, 0%, 0.08);
  border-width: 1px 0 0 1px;
  padding: 10px;
}

th.table-header {
  text-indent: 40%;
  text-align: left;
}

.table-header:before {
  content: "";
  background: url("../img/close_folder.png");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 15px;
  margin-left: -30px;
  margin-top: 3px;
}

.table-header.openfolder:before {
  content: "";
  background: url("../img/open_folder.png");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
  margin-top: 0px;
}

table.pathtable {
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font: inherit;
  word-break: break-word;
  border-collapse: collapse;
  border: 1px solid var(--color-bg-white);
  border-style: hidden;
}

table.pathtable tr td:first-child {
  width: 40%;
  max-width: 40%;
  min-width: 40%;
}

table.pathtable tr th:nth-child(2) {
  width: 50%;
}

table.pathtable tr td:nth-child(2) {
  width: 40%;
  max-width: 40%;
  min-width: 40%;
}

table.pathtable td {
  text-align: center;
}

input[type="button"].save {
  display: none;
}

input[type="text"].inputpath {
  margin-right: 10px;
  width: 40%;
}

table.pathtable tr.open {
  display: none;
}

/* Metadata table */
table.table-save-metadata {
  margin: auto;
  width: 70%;
  max-width: 100%;
  min-width: 100%;
  font: inherit;
  word-break: break-word;
  border-collapse: collapse;
  border: 1px solid var(--color-bg-white);
  border-style: hidden;
  text-align: left;
}

.table-header-metadata {
  /* text-indent: 10%; */
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  width: 70%;
}

/* YouTube video frames */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  margin-left: 5em;
  margin-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
/*
.te-editor.te-tab-active {
  width: 100% !important;
}

.te-md-splitter {
  display: none !important
} */

.tooltipnew {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 1em;
  font-style: italic;
  /* font-weight: bold; */
  color: black;
  padding: 8px 12px;
  z-index: 1;
}

.tooltipnew.contributor {
  float: none;
  font-style: normal;
  padding: 3px;
  padding-bottom: 0px;
}

.tooltipnew.contributor img {
  height: 14px;
  width: 14px;
}

.tooltiptext.contributor {
  right: 80%;
  max-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  font-size: 14px;
  font-style: italic;
}

.info {
  width: 18px;
  height: 18px;
  float: right;
}

.tooltipnew .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: var(--color-bg-white);
  text-align: left;
  border-radius: 6px;
  padding: 5px 7px;
  position: absolute;
  z-index: 1700;
  top: -5px;
  right: 110%;
  font-weight: bold;
}

.tooltipnew .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltipnew:hover .tooltiptext {
  visibility: visible;
  top: 50%;
  transform: translateY(-50%);
}

/* Progress bar */
#div-curate-meter {
  border: 2px solid #000;
  width: 100%;
}
#div-curate-progress-bar {
  background: #333;
  height: 25px;
  width: 0%;
}
/* Progress bar */
#div-meter {
  border: 2px solid #000;
  width: 100%;
}
#div-progress-bar {
  background: #333;
  height: 25px;
  width: 0%;
}

.progresstrack::-webkit-progress-value {
  transition: width 1s;
}

progress.progresstrack[value] {
  width: 100%;
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
}

progress.progresstrack[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress.progresstrack[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(left, hsl(339, 90%, 30%), hsl(190, 60%, 36%));
  border-radius: 2px;
  background-size: 35px 25px, 100% 100%, 100% 100%;
}

/*https://codepen.io/holdencreative/pen/vEVbwv*/
.progressdiv {
  position: relative;
  height: 15px;
  display: none;
  width: 25%;
  background-color: hsla(190, 60%, 36%, 30%);
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0 auto;
  overflow: hidden;
}

.progressdiv .indeterminatebar {
  background-color: var(--color-accent);
}

.progressdiv .indeterminatebar:before {
  content: "";
  position: absolute;
  background-color: var(--color-accent);
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progressdiv .indeterminatebar:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.message-icon {
  width: 18px;
  height: 29px;
  margin-left: 3px;
}

#editor-container {
  height: 375px;
  background-color: white;
  color: black;
}

.te-preview {
  min-width: 270px !important;
}

.te-preview .tui-editor-contents {
  word-wrap: break-word !important;
}

#canvas {
  height: 600px;
  width: 600px;
  background-color: var(--color-bg-white);
  cursor: default;
  border: 1px solid black;
}

#current-banner-img {
  max-width: 100%;
}

.banner-image {
  background-color: gray;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 35px,
    rgba(255, 255, 255, 0.5) 35px,
    rgba(255, 255, 255, 0.5) 70px
  );
  float: right;
  width: 100%;
}

.img-container {
  /* Never limit the container height here */
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

.img-container img {
  display: block;
  /* This is important */
  max-width: 100%;
  background-color: white;
}

#cleared {
  clear: both;
}

/* Cropped  Image */
.container-cropped-image {
  display: flex;
  font-weight: bold;
  /* width: 270px; */
  height: 35px;
  float: left;
  color: black;
  border-radius: 6px;
}

.crop-image-text {
  line-height: 35px;
}

#form-banner-height {
  line-height: 35px;
}

.banner-image-size {
  float: left;
  height: 35px;
  display: -ms-flexbox;
}
.banner-image-size.input {
  height: 34px;
  float: right;
  background-clip: padding-box;
}

.preview {
  overflow: hidden;
  width: 300px;
  height: 300px;
  /*  padding-bottom: 30%;*/
}

#div-img-container-holder {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  padding: 5% 5%;
  height: 250px;
}

#div-banner-img-preview-holder {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

label.input-banner-img {
  padding-left: 10px;
  color: black;
  float: left;
}

/* Submission file Preparation */
.my-dropdown-metadata {
  float: right;
  background-clip: padding-box;
  width: 100%;
  /* width:60%; */
  padding: 6px 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--color-bg-white);
  font: inherit;
}

.my-dropdown-metadata.ds:focus {
  border-color: black;
  border-radius: 5px;
  background-color: #fffafa;
  /* box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7); */
  /* box-shadow: 0 0 0 3px -moz-mac-focusring; */
  /* color: #222; */
  outline: none;
}

.tagify {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  /* border-left: 2px solid var(--color-light-green) !important; */
  border-radius: 5px !important;
  background-color: white !important;
  --tag--max-width: 250px !important;
}

.tagify.tagify--focus {
  outline-color: rgb(229, 151, 0) !important;
  /* outline: none !important; */
  background-color: rgb(255, 250, 250) !important;
}

/* Submission file container */
.form-container {
  float: left;
  font-size: 14px;
  /* padding-right: 10px; */
  padding: 4px 6px;
  width: 150px;
  text-align: left;
  vertical-align: middle;
  color: #a0a0a0;
  font: bold;
  font-weight: 500;
}

.form-container-input {
  float: right;
  font-weight: 400;
  /* background-clip: padding-box; */
  line-height: 2;
  width: 100%;
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: var(--color-light-green) 0.25s ease-out;
  padding: 4px 6px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.form-container-input-bf:focus {
  background-color: #fffafa;
  /* border-left: 2px solid #c0c0c0; */
  border-radius: 0;
}

.form-container-input-bf:disabled {
  background-color: #e5e5e5 !important;
}

.form-container-textarea {
  float: right;
  font-weight: 400;
  font: inherit;
  width: 100%;
  border: 1px solid #c0c0c0;
  /* border-left: 2px solid var(--color-light-green); */
  /* margin-bottom: 10px; */
  border-radius: 5px;
  transition: var(--color-light-green) 0.25s ease-out;
  padding: 4px 6px;
  min-height: 60px;
  /* max-height:60px; */
  resize: vertical;
}

.form-container-textarea:focus {
  background-color: #fffafa;
  border-left: 2px solid #c0c0c0;
  border-radius: 0;
}

/* Text areas for error messages - Validator */
.span-validate-local {
  font-weight: 400;
  font: inherit;
  border-radius: 5px;
  transition: var(--color-light-green) 0.25s ease-out;
  height: auto;
  display: none;
}

.errors {
  color: red;
}

.passes {
  color: green;
}

.warnings {
  color: orange;
}

/* BF Add account */
.form-container-input-bf {
  float: right;
  font-weight: 400;
  background-clip: padding-box;
  line-height: 1.5;
  width: 100%;
  /* margin-bottom: 10px; */
  border: 1px solid #c0c0c0;
  border-left: 2px solid var(--color-light-green);
  border-radius: 5px;
  transition: var(--color-light-green) 0.25s ease-out;
  padding: 4px 6px;
}

.form-container-input-bf disabled {
  background: #f5f5f5;
}

/* Dataset Description file container */
.form-container-ds {
  float: left;
  font-size: 14px;
  margin: 10px 0;
  /* padding-right: 10px; */
  padding: 4px 6px;
  width: 180px;
  text-align: left;
  vertical-align: middle;
  color: #a0a0a0;
  font: bold;
  font-weight: 500;
}

.multisteps-form__progress {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  margin-bottom: 30px;
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: var(--color-light-green);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: var(--color-bg-white);
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: currentColor;
  z-index: 1;
  color: var;
  color: inherit;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active1 {
  color: var(--color-light-green);
}
.multisteps-form__progress-btn.js-active2 {
  color: var(--color-light-green);
}

.multisteps-form__progress-btn.js-active1:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.5);
  background-color: var(--color-light-green);
}
.multisteps-form__progress-btn.js-active2:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.5);
  background-color: var(--color-light-green);
}

/* Hide all steps by default: */
.ds-tabs {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.ds-step {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: blue;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.ds-step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.ds-step.finish {
  background-color: var(--color-light-green);
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.input-switch {
  padding-top: 10px;
  display: none;
  overflow: hidden;
  position: absolute;
}

.label-switch {
  width: 200px;
  display: block;
  float: left;
  padding: 8px 4px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 10px;
  line-height: 1;
  text-align: center;
  border-bottom: 2px solid #dcdcdc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #696969;
}

.label-switch:hover {
  cursor: pointer;
  color: var(--color-light-green);
}

#addAccount:checked ~ #div-add-account,
#selectAccount:checked ~ #div-select-account {
  display: block;
}

#createDataset:checked ~ #div-create-dataset,
#renameDataset:checked ~ #div-rename-dataset {
  display: block;
}

.input-switch:checked + label {
  border-bottom: 2px solid var(--color-light-green);
  text-decoration: none;
  color: var(--color-light-green);
  font-size: 16px;
  border-radius: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-light-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px #0bc260;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round.manifest {
  width: 60px;
  height: 30px;
}

.slider.round.manifest:before {
  width: 26px;
  height: 26px;
}

input:checked + .slider.round.manifest:before {
  transform: translateX(30px);
}

.slider.round:before {
  border-radius: 50%;
}

/* Validate list styling */
.validatelist {
  list-style: none;
}

.validatelist li {
  padding-bottom: 15px;
  position: relative;
}

.validatelist li :before {
  position: absolute;
  left: -30px;
}

.validatelist li.bulletpass :before {
  content: "\2705";
}

.validatelist li.bulletwarning :before {
  content: "\26A0";
  font-size: 20px;
}

.validatelist li.bulleterror :before {
  content: "\274C";
}

/* CONTEXT MENU */
/* .menu {
  background-color: var(--color-bg-white);
  color: #333;
  list-style: none;
  position: absolute;
  padding: 6px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 4px;
  z-index: 1000;
  border: 1px solid rgba(0,0,0,.15);

}

.menu.reg-folder {
    min-width: 110px;
    height: auto;
}

.menu.reg-folder li {
  padding: 3px 10px;
  background-color: var(--color-bg-white);
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.menu.file {
  min-width: 180px;
  height: auto;
} */

/* .menu.file li {
  padding: 3px 10px;
  background-color: var(--color-bg-white);
  color: black;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.menu.file li:hover{
  background-color: #F0F0F0 ;
}

.menu.reg-folder li:hover{
  background-color: #F0F0F0 ;
}

.menu.high-level-folder li:hover{
  background-color: #F0F0F0;

} */

/* .menu.high-level-folder.off {
  display: none;
  top: -200%;
  left: -200%;
  /* margin-bottom: 0; */
/* }

.menu.high-level-folder {
  width: 110px;
  height: auto;
} */

/* .menu.high-level-folder li {
  padding: 3px 10px;
  background-color: var(--color-bg-white);
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

} */

/* .menu.high-level-folder li:hover{
  background-color: #fffff;
} */

/* .menu.reg-folder.off{
    display: none;
    top: -200%;
    left: -200%;
}

.menu.file.off{
    display: none;
    top: -210%;
    left: -210%;
}

.menu.file li {
  min-width: 180px;
  background-color: var(--color-bg-white)
} */
