/* Demo */

.demo:first-of-type {
  margin-top: 2rem;
}
.demo:last-of-type {
  margin-bottom: 2rem;
}
@media (min-width: 940px) {
  .demo:last-of-type {
    margin-bottom: 4rem;
  }
}

.demo-wrapper {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Toggle Button ----------------------------- */

.demo-toggle-button {
  position: relative;
  display: block;
  margin: 0.5em;
  padding: 0.5em 1.5em;
  line-height: 1.5;
  font: inherit;
  font-weight: 600;
  font-size: 1.3em;
  text-align: left;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: border-color .12s;
  outline: none;
  cursor: pointer;
  /*border: 2px solid black;*/
}

.demo-toggle-button:before,
.demo-toggle-button:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 50%;
  background-color: hsl(0,0%,88%);
  transition: transform .2s cubic-bezier(.4,.1,0,1);
}
.demo-toggle-button:before {
  top: 0;
  transform-origin: bottom center;
  transform: translateX(.7em) rotate(-30deg) scale(.75);
}
.demo-toggle-button:after {
  bottom: 0;
  transform-origin: top center;
  transform: translateX(.7em) rotate(30deg) scale(.75);
}
.is-open .demo-toggle-button:before,
.is-open .demo-toggle-button:after {
  transform: rotate(0deg);
}
.demo-toggle-button:focus:before,
.demo-toggle-button:focus:after {
  background-color: currentColor;
}

/* Meta info */

.demo-meta {
  margin-top: .2em;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-subtle);
}
.demo-meta-divider {
  margin: 0 .5em;
}


/* Demo Box ----------------------------- */

.demo-box {
  display: none;
  position: relative;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 6px;
  /*border: 1px solid var(--color-border);*/
  border: 1px solid hsla(190,60%,36%,1);
  background-color: var(--color-bg);
  /*background-color: transparent;*/
}
.demo-box:before {
  content: "";
  position: absolute;
  top: -11px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border-top: inherit;
  border-right: inherit;
  border-top-right-radius: 3px;
  transform: rotate(-45deg);
}

.is-open .demo-box {
  display: block;
  animation: demo-box-fade-in .2s cubic-bezier(0, .20, .20, .96);
}
@keyframes demo-box-fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.demo-box > p:first-child {
  margin-top: 0;
}

.demo-box h5 {
  font-size: 1em;
  margin-bottom: .6em;
  color: black;
}

.demo-box p {
  padding: 5px;
}

/* Demo Controls ----------------------------- */

.demo-controls {
  display: flex;
  align-items: center;
}

.demo-button-next-step {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em 1.2em;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.demo-button {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.1em;
  padding: .4em 1.2em;
  color: inherit;
  background-color: transparent;
  width: 180px;
  cursor: pointer;
}
.demo-button:focus {
  outline: none;
  background-color: white;
}
.demo-button:active {
  border-color: var(--color-border);
}
.demo-button:hover {
  background-color: hsla(190,60%,36%,1);
  color: white;
  border-color: var(--color-accent);
}


.demo-button-table {
  align-self: flex-start;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 0.8em;
  padding: .1em 1.1em;
  color: grey;
  background-color: transparent;
  width: 80px;
  cursor: pointer;
}
.demo-button-table:hover {
  background-color: hsla(0,0%,0%,0.1);
}
.demo-button-table.drag{
  border: 1px dashed;
}
.demo-button-table.drag:hover {
  background-color: transparent
}

.demo-input {
  flex: 1;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em .8em;
  color: inherit;
  background-color: transparent;
}
.demo-input:focus {
  outline: none;
  border-color: hsl(0,0%,80%);
  background-color: white;
}

.demo-response {
  flex: 1;
  word-break: break-word;
  font: inherit;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
}
.demo-response-upload {
  width:70%;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #ffffff;
  font: inherit
}

.smooth-appear {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.disappear {
  opacity: 0;
}
.demo-button.smooth-disappear:focus {
  outline: inherit;
  border-color: inherit;
  background-color: inherit;
}

/* Download Template Links */
button.download-metadata{
  background-color: #258193;
  border: none;
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  border-radius: 4px;
  margin:0 0.3em 0.3em 0;
  width: 220px;
  height: 45px;
  text-align: left;
  vertical-align: middle;
}

button.download-metadata:hover {
  background-color: hsla(192,69%,23%);
}
.download-image {
  border: 0;
  float: left;
  margin-right: 15px;
  width:20px;
  height:20px
}

/* ProTip ----------------------------- */
.download {
		background: #f5f5f5;
		color: #ffffff;
		display: table-cell;
		margin: 0;
		text-align: center;
		vertical-align: middle;
}
.demo-protip {
  margin-top: 2rem;
  padding: 1.5rem 2rem 2rem 2rem;
  border: 1px solid hsla(0,0%,0%,.06);
  border-radius: 6px;
  background: var(--color-accent) linear-gradient(hsla(0,0%,100%,.85), hsla(0,0%,100%,.85));
}
.demo-protip h2 {
  margin: 0 0 .5rem 0;
}
.demo-protip strong {
  font-weight: 600;
}

.labelradio {
  color: #303030;
}

input[type=radio].with-style:checked ~ label,
input[type=checkbox].with-style:checked ~ label {
    font-size: 1.1em;
    font-weight: bold;
    color: inherit;
    margin-top: -1px;
    vertical-align: middle;
}

.labelradio-manifest {
  color: #303030;
}

.datasetsaveoption {
  display: none;
}

.filepath {
  display: block;
  margin: 0;
  padding: .5em 1.5em;
}

textarea.outputprint{
    width:100%;
    max-width:100%;
    min-width:100%;
    font:inherit;
    max-height:40px;
    resize: vertical;
}

select.my_dropdown {
    width:60%;
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #ffffff;
    font: inherit
}

table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 0 1px 1px 0;
}

th {
  background-color: hsla(0,0%,50%,.06);
}

/* th:hover {
  background-color: lightblue;
} */

th,
td {
  text-align: center;
  border: 1px solid hsla(0,0%,0%,.08);
  border-width: 1px 0 0 1px;
}

th.table-header {
  text-indent: 40%;
  text-align: left;
}

.table-header:before{
  content: '';
  background: url('../img/close_folder.png');
  background-size: cover;
  position:absolute;
  width:20px;
  height:15px;
  margin-left:-30px;
  margin-top:3px;
}

.table-header.openfolder:before{
  content: '';
  background: url('../img/open_folder.png');
  background-size:cover;
  position:absolute;
  width:20px;
  height:20px;
  margin-left:-30px;
  margin-top:0px;
}

table.pathtable {
  margin: auto;
  width: 100%;
  max-width:100%;
  min-width:100%;
  font:inherit;
  word-break: break-word;
  border-collapse: collapse;
  border: 1px solid #fff;
  border-style: hidden
  }

table.pathtable tr td:first-child {
  width: 40%;
  max-width:40%;
  min-width:40%;
}

table.pathtable tr th:nth-child(2) {
  width: 50%;
}

table.pathtable tr td:nth-child(2) {
  width: 40%;
  max-width:40%;
  min-width:40%;
}

table.pathtable td {
  text-align:center;
}

input[type="button"].save
{
  display:none;
}

input[type='text'].inputpath
{
  margin-right: 10px;
  width: 40%;
}

table.pathtable tr.open {
  display : none;
}

/* YouTube video frames */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
margin-left:5em;
margin-top:1em;
position: absolute;
top: 0;
left: 0;
width: 80%;
height: 80%;
}

.tooltipnew {
  position: relative;
  display: inline-block;
  float: right;
  font-size: 1em;
  font-style: italic;
  /* font-weight: bold; */
  color: black;
  padding: 8px 12px;
}

.info {
  width:18px;
  height:18px;
  float: right;
}

.tooltipnew .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 7px ;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltipnew .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltipnew:hover .tooltiptext {
  visibility: visible;
  top: 50%;
  transform: translateY(-50%);
}

/* Progress bar */
#div-curate-meter {border:2px solid #000;width:100%}
#div-curate-progress-bar {background:#333;height:25px;width:0%}
/* Progress bar */
#div-meter {border:2px solid #000;width:100%}
#div-progress-bar {background:#333;height:25px;width:0%}


progress.progresstrack[value] {
  width: 100%;
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
}

progress.progresstrack[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress.progresstrack[value]::-webkit-progress-value {
  background-image:
     -webkit-linear-gradient(-45deg,
                             transparent 33%, rgba(0, 0, 0, .1) 33%,
                             rgba(0,0, 0, .1) 66%, transparent 66%),
     -webkit-linear-gradient(left, hsl(339,90%,30%), hsl(190, 60%, 36%));
  border-radius: 2px;
  background-size: 35px 25px, 100% 100%, 100% 100%;
}

/*https://codepen.io/holdencreative/pen/vEVbwv*/
.progressdiv {
  position: relative;
  height: 15px;
  display: none;
  width: 25%;
  background-color: hsla(190, 60%, 36%, 30%);
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; }

.progressdiv .indeterminatebar {
  background-color: var(--color-accent); }
.progressdiv .indeterminatebar:before {
  content: '';
  position: absolute;
  background-color: var(--color-accent);
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.progressdiv .indeterminatebar:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }


.message-icon {
  width:18px;
  height:29px;
  margin-left: 3px;
}

#editor-container {
  height: 375px;
  background-color: white;
  color: black
}


#canvas {
  height: 600px;
  width: 600px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

#current-banner-img {
  max-width: 50%;
}


.img-container {
  /* Never limit the container height here */
  max-width: 50%;
  width: 50%;
  float: left;
  flex: 50%;
  margin: 0 auto;
}

.demo-controls.banner-image{
 background-color: gray;
 background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.img-container img {
  display:block;
  /* This is important */
  max-width: 100%;
  background-color: white
}

.container-cropped-image {
  display: flex;
  width: 270px;
  height: 25px;
  float:left;
  background-color: #C0C0C0;
  color:black;
  border: 1px solid #ced4da;
  border-radius: 6px;
}
.banner-image-size {
  float: left;
  height: 25px;
  display: -ms-flexbox;
}
.banner-image-size.input {
  height: 25px;
  float:right;
  background-clip: padding-box;
}

.preview {
  overflow: hidden;
  width: 300px;
  height: 300px;
/*  padding-bottom: 30%;*/
}

#div-img-container-holder {
  color: black;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
  text-shadow: 0px -1px 0px rgba(0,0,0,.4);
  padding: 0 1em;
  height: 200px;
  margin-top: 100px;
}

#div-banner-img-preview-holder{
  color: black;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

label.input-banner-img{
  padding-left: 10px;
  color: black;
  float:left;
}
.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.input-switch {
 padding-top: 10px;
 display: none;
 overflow: hidden;
 position: absolute;
}

.label-switch {
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  display: block;
  float: left;
  padding: 4px 8px;
  padding-bottom: 20px;
  line-height: 1;
  text-align: center;
  border-bottom: transparent;
  /* border-radius: 4px; */
  color: #696969;
  /* box-shadow: 0 0 3px #888; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3), 0 0 rgba(255, 255, 255, 0.1); */
}

.label-switch:hover {
  cursor: pointer;
  color: #258193;
}

#addAccount:checked ~ #div-add-account,
#selectAccount:checked ~ #div-select-account {
  display:block;
}
.input-switch:checked + label {
  /* border-radius: 4px; */
  /* border-top: 2px solid #258193;
  border-right: 2px solid #258193;
  border-left: 2px solid #258193; */
  border-bottom: 2px solid #258193;
  /* background-color: #258193; */
  text-decoration: none;
  color: #258193;
  box-shadow: none;
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(190, 60%, 36%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}
