.option-card {
  max-height: 150px;
  min-height: 140px;
  max-width: 160px;
  flex-direction: column;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  background: #f5f5f5;
  margin: 10px;
  color: white;
  opacity: 0.7;
  border: 1px solid #c0c0c0;
  position: relative;
}


.option-card.checked {
  border: 1px solid #20b2aa;
  box-shadow: 0px 0px 3px 0px #20b2aa;
  opacity: 1;
}

.option-card.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.card-head {
  /* text-align: center; */
  padding-top: 5px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-head h2 {
  color: #000;
  font-size: 14px;
  padding-left: 20px
}

.card-head i {
  color: orange;
  opacity: 0.7;
  font-size: 19px;
  margin: 5px;
}

.folder-input-check {
  position: absolute;
  display: none;
}

.folder-input-check + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.folder-input-check + label:before {
  content: "\2714";
  border: 0.1em solid #c0c0c0;
  border-radius: 50%;
  display: inline-block;
  width: 15px;
  height: 14px;
  float: right;
  font-size: 14px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

.folder-input-check + label:active:before {
  transform: scale(0);
}

.folder-input-check:checked + label:before {
  background-color: #20b2aa;
  border-color: #20b2aa;
  color: #fff;
}

.card-body {
  text-align: center;
  padding: 10px !important;
}

.card-end {
  padding: 5px;
  padding-bottom: 10px;
}

.main-buttons {
  font-size: 15px;
  width: 100%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: #c0c0c0;
}

.main-buttons:hover {
  background: #20b2aa;
  /* transform: scale(1.1) !important; */
  font-size: 16px;
}

.main-buttons:focus, .main-buttons:active {
  outline: none !important;
  border:none !important;
}

.main-buttons.add-folders.is-selected {
  background:#20b2aa !important;
  outline: none
}

.container-body {
  width: 100%;
  max-height:470px;
  padding-right: 10px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.first-three-high-level-folders {
  width: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.question-title {
  text-align: center;
  color: #000;
  opacity: 0.8;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.container-end {
  max-height: 90px;
  padding: 15px;
  padding-top: 30px;
}

.transition-btn{
  background: #20b2aa;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  height: 42px;
  padding: 10px;
  border: 1px solid #20b2aa;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
/*
.transition-btn:hover{
  /* transform: scale(1.05); */
  /* font-weight: 600;
  color: var(--color-light-green);
  border: 2px solid #20b2aa;
  background: #fff
} */

.parent-tabs {
  display:none;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  margin-top: 70px;
  height: auto;
}

.parent-tabs.condensed {
  margin-top: 20px
}

.parent-tabs.tab-active {
  display: grid;
  visibility: visible;
}

.sub-tabs {
  display:none;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  margin-top: 70px;
  height: auto;
}

.sub-tabs.condensed {
  margin-top: 20px
}

.sub-tabs.tab-active {
  display: grid;
  visibility: visible;
}

.form-tabs {
  display:none;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  margin-top: 70px;
  height: auto;
}

.form-tabs.condensed {
  margin-top: 20px
}

.form-tabs.tab-active {
  display: grid;
  visibility: visible;
}

.loading-tabs {
  display:none;
}

.loading-tabs.active {
  display: block
}

#validate li {
  min-height: 280px;
  max-width: 240px;
  border: 1px dashed #3d3d3d !important;
  margin: 20px auto
}

.multi-steps {
	display: table;
	table-layout: fixed;
	width: 90%;
  counter-reset: section;
  padding-left: 5px;
  padding-top: 0;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.multi-steps > li {
	text-align: center;
	display: table-cell;
	position: relative;
	color: #c0c0c0;
  z-index: 0;
  cursor: pointer;
}

.multi-steps > li:before {
	content: '\f00c';
	content: '\2713;';
	content: '\10003';
	content: '\10004';
	content: '\2713';
  counter-increment: section;
  content: counters(section,".") " ";
	display: block;
	margin: 0 auto 4px;
	background-color: #fff;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #c0c0c0;
	border-radius: 50%;
}

.multi-steps > li:after {
	content: '';
	height: 2px;
	width: 100%;
	background-color: #c0c0c0;
	position: absolute;
	top: 16px;
	left: 50%;
	z-index: -1;
}

.multi-steps > li:last-child:after {
	display: none;
}

.multi-steps > li.is-done:before {
	background-color: var(--color-light-green);
	border-color: var(--color-light-green);
  color: #fff;
  content: '\2713';
  font-size: 18px;
  box-shadow: 0 0 4px 0 var(--color-light-green)
}

.multi-steps > li.is-current:before {
  border-color: var(--color-light-green) !important;
  color: var(--color-light-green) !important;
  background-color: #fff !important
}

.multi-steps > li.is-current strong {
  color: var(--color-light-green);
}

.multi-steps > li.is-done:after {
  	background-color:var(--color-light-green);
}

.multi-steps > li strong {
  font-size: 13px;
}

.multi-steps > li.is-done strong {
  color: var(--color-light-green);
}

.circle-icon {
    background: #f0f0f0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 15px;
}

.icon-checked {
  background: #fff;
  color: #258193 !important;
  border: 2px solid #258193
}

.form-control {
  width: 65% !important;
  margin: 0 auto !important;
  height: 35px !important;
  background: #f5f5f5 !important;
  border-radius: 5px !important;
  text-align: center !important
}

.form-group label {
  margin: 0 auto !important;
}

.label-switch.metadata {
  font-size: 14px;
  margin: 10px !important;
}

.input-switch.metadata:checked + label {
  font-size: 14px;
}

.div-metadata-import {
  display:none;
  width:100%;
  height:370px;
  margin:0 auto;
}

.div-metadata-import h5 {
  text-align: center
}

.div-file-import {
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px dashed #258193;
  padding: 20px;
  width:200px;
  height: 250px;
  border-radius: 5px;
  margin: 0 auto
}

.div-file-import p {
  margin-top:0;
  font-size: 15px;
}

.div-file-import-button {
  background: var(--color-bg-light-green-button);
  color: var(--color-teal);
  border: 1px solid var(--color-bg-light-green-button);
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
  padding: 7px;
  cursor: pointer;
}

.div-file-import-button:hover {
  background: var(--color-light-green);
  color: #fff;
  font-weight: 600;
  border: 1px solid var(--color-light-green);
}
