.option-card {
  max-height: 160px;
  min-height: 140px;
  max-width: 160px;
  flex-direction: column;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  background: #fff;
  margin: 10px;
  color: white;
  opacity: 0.9;
  border: none;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  cursor: pointer;
}

.option-card:hover {
  border: 1px solid #20b2aa;
  box-shadow: 0px 0px 3px 0px #20b2aa;
}


.option-card.checked {
  border: 1px solid #20b2aa;
  box-shadow: 0px 0px 3px 0px #20b2aa;
  opacity: 1;
}

.option-card.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.option-card.radio-button {
  width: 180px  !important;
  height: 180px !important;
  grid-template-rows: 10% auto !important
}

.option-card.radio-button .card-body {
  padding-top: 0 !important;
  margin-top: 3px;
  color: #585858
}

.option-card.radio-button .card-body i {
  font-size: 39px;
  color: var(--color-bg-orange)
}

.option-card.radio-button .card-body h2 {
  font-size: 14px
}

.option-card.radio-button .card-head {
  justify-content: flex-end;
}

.option-card.radio-button:hover, .option-card.radio-button:focus, .option-card.radio-button:active {
  color: var(--color-light-green);
  border: 1px solid #20b2aa;
}

.option-card.radio-button:hover, .option-card.radio-button:focus, .option-card.radio-button:active i{
  color: var(--color-light-green)
}

.option-card.radio-button.checked {
  border: 1px solid #20b2aa;
  box-shadow: 0px 0px 3px 0px #20b2aa;
  opacity: 1;
}

.option-card.radio-button.non-selected {
  background: #f6f6f6
}

.option-card.radio-button.non-selected svg{
  fill: #585858
}

.option-card.radio-button.non-selected .card-body i{
  color: #585858 !important
}
/*
.option-card.radio-button.non-selected:hover {
  background: #fff;
  border: 1px solid #20b2aa;
}

.option-card.radio-button.non-selected:hover svg{
  fill:
} */

.card-head {
  /* text-align: center; */
  padding-top: 0;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-head h2 {
  color: #000;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 5px;
}

.card-head i {
  color: orange;
  opacity: 0.7;
  font-size: 19px;
  margin: 5px;
}

.option-card.radio-button .card-head {
  justify-content: flex-end;
}

.option-card.radio-button .folder-input-check + label:before {
  width: 25px;
  height: 25px;
}

.option-card.radio-button .folder-input-check:checked + label:before {
  background-color: #20b2aa !important;
  border-color: #20b2aa !important;
  color: #fff!important;
  font-size: 16px;
}

.folder-input-check {
  position: absolute;
  display: none;
}

.folder-input-check + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

.folder-input-check + label:before {
  content: "\2714";
  border: 0.1em solid #c0c0c0;
  border-radius: 50%;
  display: inline-block;
  width: 22px;
  height: 22px;
  float: right;
  font-size: 13px;
  padding-left: 4px;
  padding-bottom: 0;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

.folder-input-check + label:active:before {
  transform: scale(0);
}

.folder-input-check:checked + label:before {
  background-color: #20b2aa;
  border-color: #20b2aa;
  color: #fff;
}

.card-body {
  text-align: center;
  padding: 10px !important;
  margin-top: 10px;
}

.card-end {
  padding: 5px;
  padding-bottom: 10px;
}

.main-buttons {
  font-size: 15px;
  width: 100%;
  height: 35px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: #c0c0c0;
}

.main-buttons:hover {
  background: #20b2aa;
  /* transform: scale(1.1) !important; */
  font-size: 16px;
}

.main-buttons:focus, .main-buttons:active {
  outline: none !important;
  border:none !important;
}

.main-buttons.add-folders.is-selected {
  background:#20b2aa !important;
  outline: none
}

.container-body {
  width: 100%;
  max-height:470px;
  padding-right: 10px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.first-three-high-level-folders {
  width: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.question-title {
  text-align: center;
  color: var(--color);
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.container-end {
  max-height: 90px;
  padding: 15px;
  padding-top: 30px;
}

.transition-btn{
  background: #20b2aa;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  height: 38px;
  /* padding: 10px; */
  /* border: 1px solid #20b2aa; */
  /* border-radius: 20px; */
  color: #fff;
  cursor: pointer;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
}

.transition-btn.prev {
  background: #fff;
  border: none;
  color: #666666;
  width: 110px;
}

.transition-btn:hover{
  box-shadow: 0 0 6px #B0B0B0
}

.transition-btn:disabled,
.transition-btn[disabled]:hover {
  pointer-events: none;
  background: #cccccc;
  color: #666666;
  border: none;
}

.parent-tabs {
  display:none;
  flex-direction: column;
  margin-top: 70px;
  height: 100%;
  width: 100%;
  margin-top: 0;
  overflow: auto;
}

.parent-tabs.condensed {
  margin-top: 0
}

.parent-tabs.tab-active {
  display: flex;
  visibility: visible;
}

.sub-tabs {
  display:none;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  margin-top: 70px;
  height: auto;
}

.sub-tabs.condensed {
  margin-top: 20px
}

.sub-tabs.tab-active {
  display: grid;
  visibility: visible;
}

.form-tabs {
  display:none;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-top: 140px
}

.form-tabs.condensed {
  margin-top: 20px
}

.form-tabs.tab-active {
  display: flex;
  visibility: visible;
}

.loading-tabs {
  display:none;
}

.loading-tabs.active {
  display: block
}

#validate li {
  min-height: 280px;
  max-width: 240px;
  border: 1px dashed #3d3d3d !important;
  margin: 20px auto
}

.multi-steps {
	display: table;
	table-layout: fixed;
	width: 90%;
  counter-reset: section;
  padding-left: 5px;
  padding-top: 0;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

.multi-steps > li {
	text-align: center;
	display: table-row;
	position: relative;
	color: #c0c0c0;
  z-index: 0;
  cursor: pointer;
}

.multi-steps > li:before {
	content: '\f00c';
	content: '\2713;';
	content: '\10003';
	content: '\10004';
	content: '\2713';
  counter-increment: section;
  content: counters(section,".") " ";
	display: block;
	margin: 0 auto 4px;
	background-color: #fff;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: bold;
	border-width: 2px;
	border-style: solid;
	border-color: #c0c0c0;
	border-radius: 50%;
}

.multi-steps > li:after {
	content: '';
	height: 2px;
	width: 100%;
	background-color: #c0c0c0;
	position: absolute;
	top: 16px;
	left: 50%;
	z-index: -1;
}

.multi-steps > li:last-child:after {
	display: none;
}

.multi-steps > li.is-done:before {
	background-color: var(--color-light-green);
	border-color: var(--color-light-green);
  color: #fff;
  content: '\2713';
  font-size: 18px;
  box-shadow: 0 0 4px 0 var(--color-light-green)
}

.multi-steps > li.is-current:before {
  border-color: var(--color-light-green) !important;
  color: var(--color-light-green) !important;
  background-color: #fff !important
}

.multi-steps > li.disabled:before {
  pointer-events: none !important
}

.multi-steps > li.is-current strong {
  color: var(--color-light-green);
}

.multi-steps > li.is-done:after {
  	background-color:var(--color-light-green);
}

.multi-steps > li.disabled:after {
  pointer-events: none !important
}

.multi-steps > li strong {
  font-size: 13px;
}

.multi-steps > li.is-done strong {
  color: var(--color-light-green);
}

.circle-icon {
    background: #f0f0f0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 15px;
}

.icon-checked {
  background: #fff;
  color: #258193 !important;
  border: 2px solid #258193
}

.form-control {
  /* width: 65% !important; */
  /* margin: 0 auto !important; */
  height: 35px !important;
  background: #f5f5f5 !important;
  border-radius: 5px !important;
  text-align: center !important
}

.form-group label {
  margin: 0 auto;
}

.label-switch.metadata {
  font-size: 14px;
  margin: 10px !important;
}

.input-switch.metadata:checked + label {
  font-size: 14px;
}

.div-metadata-import {
  display:none;
  width:100%;
  height:370px;
  margin:0 auto;
}

.div-metadata-import h5 {
  text-align: center
}

.div-file-import {
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px dashed #258193;
  padding: 20px;
  padding-top:15px;
  width:200px;
  height: 220px;
  border-radius: 5px;
  margin: 0 auto
}

.div-file-import p {
  margin-top:0;
  font-size: 15px;
}

.div-file-import-button {
  background: var(--color-bg-light-green-button);
  color: var(--color-teal);
  border: 1px solid var(--color-bg-light-green-button);
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
  padding: 7px;
  cursor: pointer;
}

.div-file-import-button:hover {
  background: var(--color-light-green);
  color: #fff;
  font-weight: 600;
  border: 1px solid var(--color-light-green);
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.me {
  /* border: 1px solid red; */
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-me {
  position: relative;
  margin-bottom: 35px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
}

.not-me.done span:first-of-type {
    background: var(--color-bg-plum);
    opacity: 0.9;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 600;
}

.not-me.done span:last-of-type {
  display: none;
  position: relative;
  background: #373F51;
}

.not-me.is-current span:first-of-type {
    background: #fff;
    opacity: 0.9;
    font-size: 10px;
    line-height: 28px;
    border: 1px solid var(--color-bg-plum);
    color: var(--color-bg-plum);
    font-weight: 600;
}

.not-me.is-current span:last-of-type {
  display: none;
  position: relative;
  background: #373F51;
}

.not-me:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  width: 1px;
  height: 35px;
  background: #373F51;
  opacity: 0.24;
  margin-bottom: 20px;
}

.not-me.done:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  width: 1px;
  height: 35px;
  background: var(--color-bg-plum);
  opacity: 0.8;
  margin-bottom: 20px;
}

.not-me.last:after {
  height: 0
}

.not-me span {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50%;
}

.not-me span:first-of-type {
  background: #c0c0c0;
  opacity: 0.9;
  font-size: 10px;
  line-height: 32px;
  letter-spacing: 0.25px;
  color: #fff;
  font-weight: 600;
}

.not-me span:last-of-type {
  display: none;
  position: relative;
  background: transparent;
}

.not-me span svg {
  position: absolute;
  left: 25%;
  top: 25%;
}
/*
.not-me:hover span:first-of-type {
  display: none;
}

.not-me:hover span:last-of-type {
  display: inline-block;
} */

.individual-question {
  display: none;
  visibility: visible;
  flex-direction:column;
  justify-content: center;
  /* transition: scale-display .3s; */
  transition: all 0.3s ease-out !important;
  margin: 0 auto;
  margin-bottom: 30px;
  /* border-top:1px solid var(--color-bg-plum) */
}

.individual-question.show {
  display: flex;
  height: 50%;
}

.individual-question.show .ui.form .inline.fields .question-label {
  color: var(--color-bg-plum) !important
}

.question-buttons.active {
  background: var(--color-light-teal);
  padding: 20px
}

.question-buttons.active p {
  color: #fff !important;
  font-weight: 600 !important;
}

.question-buttons.active i {
  color: #fff !important;
  font-weight: 600 !important;
}

.inline.fields label {
  color: var(--color-bg-plum);
  margin-right: 80px
}

.ui.radio.checkbox input:checked~label:after {
  background-color:var(--color-light-green) !important;
}

.ui.radio.checkbox label:after {
  top: -3px !important;
  left: -4px !important;
  width: 23px !important;
  height: 23px !important;
}

.ui.form .inline.fields {
  align-items: baseline !important;
}

.ui.form {
  width: 100% !important;
}

.question-label {
  width: 25% !important;
}

.field select {
  width: 100%
}

.field {
  width: 50%
}

.div-organize-dataset-menu {
  float:right;
  display:flex;
  flex-direction:row;
  font-size:16px;
}

.div-organize-dataset-menu button {
  width: 120px;
  height:35px;
  padding: 7px;
  padding-left: 15px;
  font-size:13px;
  font-weight: 600;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid var(--tagify-dd-color-primary);
  color:var(--tagify-dd-color-primary);
  cursor: pointer;
  text-align:center;
}

.div-organize-dataset-menu button:hover {
  box-shadow: 0 0 6px #B0B0B0;
}

.div-organize-dataset-menu button i {
  margin-right:10px
}

.individual-question.prev {
  display:flex;
  /* border-top: 1px solid #f5f5f5 */
}

.button-active-now.active {
  background: var(--color-light-green) !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.individual-question.test label {
  color: #696969 !important
}

.individual-question.prev label {
  color: #696969 !important;
  font-size: 16px !important;
}

.individual-question.test2 {
  /* margin-top:40px; */
  transform: translateY(-8px);
  transition: transform 0.2s ease-in-out;
  height: 50%;
}

#Question-generate-dataset {
  display: flex !important;
  margin-bottom: 30px;
}

.ui.form .grouped.fields {
  display: flex !important;
  flex-direction: column;
}

.ui.form .grouped.fields>label {
  text-align: center;
}

/* Manifest toggle button */

.labelradiocurate {
  color: #696969;
}

.labelradiocurate-manifest {
  color: #696969;
  font-size: 18px;
  padding:10px;
  margin-right:20px;
  margin-left:20px;
}

#generate-manifest-curate:checked .labelradiocurate-manifest.yes {
  color: var(--color-light-green) !important;
}

@keyframes changeWelcomeIcon {
  from {
    left: -15px;
  }

  to {
    left: 0px;
  }
}

.fas.fa-hand-point-left.welcome-icon-hand {
  animation-duration: 0.7s;
  animation-name: changeWelcomeIcon;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  color: var(--color-teal);
  font-size: 21px;
  margin-right:10px;
}

.ui.icon.button {
  background: transparent;
  color: var(--color-light-green);
  padding: 2px !important;
  height: 20px;
}

.ui.icon.button:hover {
  background: transparent
}

.ui.icon.button i {
  font-size: 16px;
  margin-left:5px
}
