@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

.top-menu {
  margin-left: 25px;
}
.tab-input {
  display: none;
}

.tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  width: 24%;
  min-width: 175px;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 9px;
  text-align: center;
  color: #999;
  border: 1px solid transparent;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.inside {
  pointer-events: none;
}

.tab-label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.tab-label:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.tab-input:checked + .tab-label {
  color: #222;
  border-bottom: 5px solid #b80d49;
  margin-bottom: -5px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

#tab_info_text {
  color: #4d4a4a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 13px;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid #ddd;
  margin-right: 30px;
  text-align: center;
  margin-left: 25px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.tab-info-p {
  color: rgb(77, 74, 74);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 13px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 30px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.section-header > div {
  margin-left: 15px;
  margin-right: 15px;
}

.section-header > div > svg {
  margin-right: 25px;
}

.main-tabs-section {
  /* display: none; */
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 1px;
  /* margin-left: -10px; */
}

.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s 0.12s linear, opacity 0.12s ease-in,
    transform 0.12s ease-in-out;
}

.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transform: translateX(0);
  transition: visibility 0s 0s linear, opacity 0.36s ease-out,
    transform 0.36s ease-out;
}

.flex-main-container {
  margin: auto;
  overflow: auto;
}

/* #prepare_metadata_main_container, */
/* #prepare_dataset_main_container {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
} */

.flex-row-container {
  margin: auto;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.flex-content-container {
  display: inline-block;
  width: max-content;
  margin-left: 20px;
  margin-right: 20px;
}

.content-header {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 3px;
}

.content-button {
  width: 150px;
  height: 150px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button p {
  color: #222c3c;
  font-size: 14px;
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  pointer-events: none;
}

.content-button:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button:active {
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button h2 {
  color: #4d4a4a;
  font-weight: 400;
  font-size: 14px;
  bottom: -1em;
  font-family: "Raleway", sans-serif;
  pointer-events: none;
  text-align: center;
  margin-top: 1em;
}

.footer-div {
  border-top: 1px solid #f0f0f0;
  padding: 15px 10px 10px 10px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  bottom: 0px;
  background-color: white;
  position: absolute;
}

.transition-btn i {
  pointer-events: none;
}

.content-button svg {
  margin: 0 auto;
  pointer-events: none;
}

.header-container {
  padding-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.main-tabs {
  display: none;
}

.main-tabs.show {
  display: flex;
  flex-direction: column;
}

.dataset-status-container {
  display: block;
  position: relative;
}

.dataset-status-container ul {
  list-style: none;
}

.dataset-status-container ul li {
  color: #565454;
  display: block;
  position: relative;
}

.dataset-status-container ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.dataset-status-container ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 15px;
  padding: 0px 10px 0px 15px;
  margin: 0px 15px 0px 15px;
  height: 30px;
  cursor: pointer;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.dataset-status-container ul li:hover label {
  color: #6f6f6f;
}

.dataset-status-container
  ul
  li:hover
  input[name="dataset_status_radio"]:checked
  ~ label {
  color: var(--color-teal);
}

.popover-header {
  margin-top: 0px;
}

.popover-tooltip {
  padding-left: 10px;
}

ul li .check {
  display: block;
  position: absolute;
  border: 3px solid #565454;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 0px;
  left: 2px;
  transition: border 0.2s ease-in-out;
  -webkit-transition: border 0.2s ease-in-out;
}

ul li:hover .check {
  border: 7px solid #6f6f6f;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[name="dataset_status_radio"]:checked ~ .check {
  border: 3px solid var(--color-teal);
}

input[name="dataset_status_radio"]:checked ~ .check::before {
  background: var(--color-teal);
}

input[name="dataset_status_radio"]:checked ~ label {
  color: var(--color-teal);
}

.btn_animated.md .btn_animated-inside {
  padding-top: 10px;
}
.btn_animated.lg .btn_animated-inside {
  padding: 6px;
}

.btn_animated.skip .btn_animated-inside {
  background: white;
  color: red;
  margin-top: -1px;
}

.btn_animated.skip .ripple.effect {
  opacity: 0;
  background: red;
}

.btn_animated.start_over .btn_animated-inside {
  background: white;
  color: #b80d49;
  margin-top: -1px;
}

.btn_animated.start_over .ripple.effect {
  opacity: 0;
  background: #b80d49;
}

.btn_animated-inside {
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.25s;
  color: white;
  user-select: none;
  cursor: pointer;
  background: var(--color-light-green);
  width: inherit;
  height: inherit;
  margin-left: -8px;
  padding-top: 8px;
}

.btn_animated .ripple {
  width: 0px;
  height: 0px;
  position: absolute;
  transition: all 0.75s;
  display: inline-block;
  opacity: 1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.btn_animated .ripple.effect {
  width: 400px;
  height: 400px;
  color: #000;
  opacity: 0;
  background: black;
  border-radius: 100%;
}

.btn_animated {
  cursor: pointer;
  border-radius: 8px;
  margin: 0px 10px;
  height: 35px;
  background: var(--color-light-green);
  color: #fff;
  font-weight: 600;
  border: none;
  font-size: 14px;
  transition: all 0.2s;
  overflow: hidden;
  position: relative;
}

.btn_animated:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.btn_animated.generate-btn {
  background: var(--color-bg-plum);
}

.btn_animated.generate-btn .btn_animated-inside {
  padding-top: 10px;
  background: var(--color-bg-plum);
}

.btn_animated.return-btn .btn_animated-inside {
  padding-top: 10px;
  margin: 0px -8px;
}

.btn_animated.exit .btn_animated-inside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: -10px;
  padding-top: 10px;
}

.swal-wide {
  width: 500px !important;
}
