body {
  margin: 0;
  font-family: sans-serif;
}

button:focus {
  outline: none;
}

.container-fluid {
  width: 100%;
  height: 85%;
  padding-right: 10px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.div-organize-items {
  min-height: 420px;
  padding-top: 0;
  width: 100%;
  float: left;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 2px #d5d5d5;
}

.div-organize-items.full {
  width: 100%;
}

.button-grp {
  display: inline-block;
  margin-right: 30px;
}

a {
  border: none;
}

.button-grp button {
  border: 1px #dbdbdb solid;
  border-radius: 5px;
  font-size: 12px;
  background-color: #f8f8f8;
  outline: none;
  color: #575757;
  margin-right: 0px;
  padding: 5px 10px;
}
.button-grp button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.active-btn {
  background-color: #6c6c6c !important;
  border: 1px #6c6c6c solid !important;
  color: white !important;
}

button[data-id="bf_list_users"],
button[data-id="bf_list_roles_user"],
button[data-id="bf_list_teams"],
button[data-id="bf_list_roles_team"] {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 7px;
  width: 90% !important;
}

button[data-id="bf_list_users_pi"] {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 7px;
}

#pi_bootstrap_select_div > .dropdown.bootstrap-select {
  width: 430px;
}

.sidebar {
  background-color: var(--color-teal);

  height: 100%;
}
.sidebar_title {
  color: #f3f3f3;
  text-transform: uppercase;
  padding: 20px 0px 0px 20px;
  margin-top: 0px;
  font-size: 11px;
  font-weight: 900;
  user-select: none;
  -webkit-user-select: none;
}
.sidebar_links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

.active_link {
  background-color: #252525;
}

.window {
  padding: 20px;
  height: calc(100vh - 110px);
  overflow: scroll;
}

.menu {
  background-color: #fff;
  color: #333;
  list-style: none;
  position: absolute;
  padding: 6px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 4px;
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.menu.reg-folder {
  width: 110px;
  height: auto;
}

.menu.reg-folder li {
  padding: 3px 10px;
  background-color: #fff;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menu.file {
  width: 110px;
  height: auto;
}

.menu.file li {
  padding: 3px 10px;
  background-color: #fff;
  color: black;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menu.file li:hover {
  background-color: #f0f0f0;
}

.menu.reg-folder li:hover {
  background-color: #f0f0f0;
}

.menu.high-level-folder li:hover {
  background-color: #f0f0f0;
}

.menu.high-level-folder.off {
  display: none;
  top: -200%;
  left: -200%;
}

.menu.high-level-folder {
  width: 110px;
  height: auto;
}

.menu.high-level-folder li {
  padding: 3px 10px;
  background-color: #fff;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.menu.reg-folder.off {
  display: none;
  top: -200%;
  left: -200%;
}

.menu.file.off {
  display: none;
  top: -210%;
  left: -210%;
  position: absolute;
}

.menu.file li {
  width: 108px;
  background-color: #fff;
}

.modal-content textarea {
  font-size: 11px !important;
}

.modal-body {
  padding: 10px 10px;
  font-size: 15px;
}

.modal-title {
  margin-top: 10px;
  font-size: 17px;
}

.modal-header {
  font-size: 17px;
  font-weight: bold;
  height: 60px;
  padding: 8px 10px !important;
  text-align: center;
  vertical-align: middle;
  margin-top: ;
}

.modal-footer {
  padding: 10px 12px !important;
}

.modal-footer button {
  /* width: 30% !important; */
  padding: 4px 10px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.dropdown-item {
  font-size: 13px !important;
  line-height: 2;
  color: #404040;
}

.hoverPath {
  width: auto;
  min-height: auto;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #aaa;
  /* box-shadow: 2px 2px 2px #999; */
  border-radius: 3px;
  position: fixed;
  padding: 5px 5px;
  font-size: 12px;
  z-index: 5;
  overflow: hidden;
}

.hoverFullName {
  max-width: auto;
  min-height: auto;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 3px;
  position: absolute;
  padding: 5px 5px;
  font-size: 12px;
  z-index: 1000;
}

.single-item {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 100px;
  position: relative !important;
  margin-right: 5px;
  margin-top: 5px;
  padding: 10px 0px 10px 0px;
}

.single-item.selected-item:hover {
  border: #c0c0c0;
  background-color: #d8d7d7;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.single-item.selected-item:focus {
  border: #c0c0c0;
  background-color: #eeeaea;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.ds-selected {
  border: #c0c0c0;
  background-color: #eeeaea;
  /* transform: translateY(-6px); */
}

.single-item:active {
  transform: all 3s;
  -webkit-transform: all 3s;
}

/*Pre publishing submission flow file viewer uses .single-item but allows a user to select a file UI element.
  When the element is selected it adds styling. This sets it up to ignore the hover effect styling once selected.  
*/
.single-item:not(.pre-publishing-file-viewer-file-selected):hover {
  border: #c0c0c0;
  background-color: #f5f5f5;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}

.single-item:hover + #myspan {
  display: block;
}

.myFol {
  width: 50px;
  height: 50px;
}

.myFol:before {
  content: "";
  background: url("../img/close_folder.png") no-repeat;
  background-size: 60px;
  position: absolute;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.myFol.empty:before {
  content: "";
  background: url("../img/close_folder.png") no-repeat;
  opacity: 0.5;
  background-size: 60px;
  position: absolute;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.myFol.deleted_folder:before {
  opacity: 0.5;
}

.myFol.deleted_folder:after {
  content: "\00D7";
  position: absolute;
  bottom: 30px;
  right: 25px;
  line-height: 1;
  color: rgb(252, 0, 0);
  z-index: 10;
  font-size: 35px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  pointer-events: none;
}

.folder_desc {
  text-align: center;
  font-size: 13px;
  width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  padding: 0px 4px 0px 4px;
  /* word-wrap: break-word; */
  line-height: 1.5;
  margin-right: 5px;
  margin-left: 5px;
  color: black;
  pointer-events: none;
}

.blue {
  color: rgb(255, 165, 0, 0.8);
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  padding: 5px;
}

.btn.btn-success:hover {
  border: 5px solid #3b5998;
  box-shadow: 0 0 5px #3b5998;
  transition: all 0.5s ease;
}

.button-back {
  color: #666666;
  background-color: #fff;
  border: 1px solid #666666;
  border-radius: 5px;
  height: 35px;
  width: 40px;
  font-size: 14px;
  background-position: center;
  transition: background 0.8s;
}

.button-back:hover {
  box-shadow: 0 0 3px 0px #666666;
}
.button-back:active {
  transform: translateY(-4px);
}
.button-back:focus {
  outline: none;
}

.myButton {
  margin-right: 3px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background-color: #bf3062;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 110px;
  box-shadow: 0 0 2px #999;
  background-position: center;
  transition: background 0.8s;
}

.myButton.second {
  background-color: #bf3062;
  color: #fff;
}

.myButton:hover {
  background: var(--color-teal)
    radial-gradient(circle, transparent 1%, var(--color-teal) 1%) center/15000%;
  color: white;
  box-shadow: 0 0 5px #3b5998;
  transition: all 0.5s ease;
}

.myButton:active {
  background-color: #292d3e;
  background-size: 100%;
  transition: background 0s;
  transform: translateY(-3px);
}
.myButton:focus {
  outline: none;
}

.myButton.second:hover {
  background: var(--color-teal)
    radial-gradient(circle, transparent 1%, var(--color-teal) 1%) center/15000%;
  color: #fff;
  box-shadow: 0 0 5px #3b5998;
  transition: all 0.5s ease;
}

.confirmButton {
  left: 89%;
  top: 93%;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  width: 190px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-light-green);
  background-color: #fff;
  border: 2px solid var(--color-light-green);
  margin: 0 0;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(to left, #fff 50%, var(--color-light-green) 50%)
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.confirmButton:hover {
  color: #fff;
  background-position: left;
}

.confirmButton:active {
  background-size: 100%;
  transform: translateY(-3px);
}
.confirmButton:focus {
  outline: none;
}

.div-organize-generate-dataset {
  text-align: center;
  min-width: 450px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-organize-generate-dataset.metadata {
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 50px !important; */
  margin: 0 auto;
}

.div-organize-generate-dataset.metadata.hide {
  display: none;
}

.div-organize-generate-dataset.metadata button {
  width: 150px;
  height: 155px;
}

.div-organize-generate-dataset.metadata i {
  color: var(--tagify-dd-color-primary) !important;
  font-size: 50px !important;
}

.div-organize-generate-dataset.metadata p {
  /* color: orange; */
  font-size: 13px;
  margin-top: 20px !important;
}

.content-header.metadata-step4 {
  font-weight: 600;
  color: #000;
}

.div-file-import.pennsieve {
  display: none;
}

.flex-row-container.code-metadata {
  display: none;
}

.div-individual-metadata {
  display: none;
}

.div-individual-metadata.show {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.button-generate-dataset {
  width: 200px;
  height: 200px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 30px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
}

.button-generate-dataset:hover {
  outline: none;
  /* border: 1px solid var(--color-light-green); */
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.button-generate-dataset:active,
.button-generate-dataset:focus {
  outline: none;
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.button-generate-dataset p {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.button-generate-dataset svg {
  margin: 0 auto;
}

.button-generate-dataset .bi.bi-file-earmark-plus {
  display: block;
}

.button-generate-dataset .bi.bi-check2 {
  display: none;
}

.file-templates-button {
  width: 160px;
  height: 160px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 30px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.file-templates-button svg {
  margin: 0 auto;
  fill: var(--tagify-dd-color-primary);
  width: 45px;
  height: 45px;
  pointer-events: none;
}

.file-templates-button:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.file-templates-button:active {
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.metadata-button.button-generate-dataset.code-metadata {
  display: none;
}

.metadata-button.button-generate-dataset.done {
  border: 1px solid var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.metadata-button.button-generate-dataset.done p {
  color: var(--color-light-green);
  font-weight: 600;
}

.metadata-button.button-generate-dataset.done .bi.bi-file-earmark-plus {
  display: none;
}

.metadata-button.button-generate-dataset.done .bi.bi-check2 {
  color: var(--color-light-green);
  display: block !important;
  margin: 0 auto;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.form-group.row {
  margin-bottom: 10px;
  margin-left: 5px;
}

/* file and folder */
.myFile {
  width: 55px;
  height: 55px;
}

.myFile.csv:before {
  background: url("../img/csv-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.doc:before {
  background: url("../img/doc-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.docx:before {
  background: url("../img/doc-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.png:before {
  background: url("../img/png-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.PNG:before {
  background: url("../img/png-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.jpg:before {
  background: url("../img/jpeg-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.jpeg:before {
  background: url("../img/jpeg-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.JPEG:before {
  background: url("../img/jpeg-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.pdf:before {
  background: url("../img/pdf-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.txt:before {
  background: url("../img/txt-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}
.myFile.xlsx:before {
  background: url("../img/excel-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

.myFile.xls:before {
  background: url("../img/excel-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

.myFile.other:before {
  background: url("../img/other-file.png");
  content: "";
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

.myFile.deleted_file:before {
  opacity: 0.5;
}

.myFile.deleted_file:after {
  content: "\00D7";
  position: absolute;
  bottom: 26px;
  right: 23px;
  line-height: 1;
  color: rgb(252, 0, 0);
  z-index: 10;
  font-size: 35px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  pointer-events: none;
}

.folder_desc.pennsieve_folder:after {
  content: "\f0c2";
  position: absolute;
  bottom: 34px;
  left: 18px;
  color: rgb(81, 176, 240);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.pennsieve_folder_deleted {
  color: rgba(0, 0, 0, 0.5);
}

.folder_desc.local_folder:after {
  content: "\f7c2";
  position: absolute;
  bottom: 34px;
  left: 18px;
  color: rgb(81, 176, 240);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.local_folder_deleted {
  color: rgba(0, 0, 0, 0.5);
}

.folder_desc.pennsieve_folder_deleted:after {
  content: "\f0c2";
  position: absolute;
  bottom: 34px;
  left: 18px;
  color: rgb(185, 221, 245);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.folder_desc.local_folder_deleted:after {
  content: "\f7c2";
  position: absolute;
  bottom: 34px;
  left: 18px;
  color: rgb(185, 221, 245);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.folder_desc.pennsieve_file:after {
  content: "\f0c2";
  position: absolute;
  bottom: 27px;
  left: 34px;
  color: rgb(81, 176, 240);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.folder_desc.local_file:after {
  content: "\f7c2";
  position: absolute;
  bottom: 27px;
  left: 34px;
  color: rgb(81, 176, 240);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.pennsieve_file_deleted {
  color: rgba(0, 0, 0, 0.5);
}

.local_file_deleted {
  color: rgba(0, 0, 0, 0.5);
}

.folder_desc.pennsieve_file_deleted:after {
  content: "\f0c2";
  position: absolute;
  bottom: 27px;
  left: 34px;
  color: rgb(185, 221, 245);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.folder_desc.local_file_deleted:after {
  content: "\f7c2";
  position: absolute;
  bottom: 27px;
  left: 34px;
  color: rgb(185, 221, 245);
  z-index: 5;
  font-size: 21px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  pointer-events: none;
}

.menu-toggle {
  transition: transform 1s ease-in-out !important;
}

.step-dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* visibility: hidden; */
}

.step-dot.active {
  box-shadow: 0 0 5px #3b5998;
  background-color: var(--color-teal);
}

#metadata_progress {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  /* background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/dot.gif') 3px top repeat-y; */
}
#metadata-content {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  /* float:left */
  padding: 0;
}

#metadata-content h1 {
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}

#metadata-content li {
  list-style: none;
  text-align: center;
  display: none;
  min-height: 260px;
  max-width: 240px;
  border: 1px dashed #3d3d3d !important;
  margin: 20px auto;
  border-radius: 5px;
}

#metadata-content li i {
  color: #c0c0c0;
}

#metadata-content li p {
  font-size: 23px;
  margin: 0;
}

#metadata-content li button {
  width: 90px;
  height: 25px;
  background: #fff;
  color: var(--color-light-green);
  border: 1px solid var(--color-light-green);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 var(--color-light-green);
  margin: 0 auto;
  cursor: pointer;
}

#metadata-content li.selected {
  list-style: none;
  text-align: center;
  display: block;
}

.folder-upload-div {
  list-style: none;
  text-align: center;
  width: 200px;
  height: 210px;
  border: 1px dashed #c0c0c0;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 auto;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
}

.folder-upload-div button {
  width: 100px;
  height: 25px;
  background: #fff;
  color: var(--color-light-green);
  border: 1px solid var(--color-light-green);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 var(--color-light-green);
  margin: 0 auto;
  cursor: pointer;
}

.folder-upload-div p {
  margin: 5px auto;
  font-size: 16px;
  opacity: 0.7;
  color: #000;
}

.progress-box {
  float: left;
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid transparent;
  clear: both;
  font-size: 13px;
  border-radius: 3px;
  color: #9e9e9e;
  text-align: center;
  background: #e0e0e0;
}

.progress-box span {
  color: #333333;
}

.progress-box.checked {
  content: "\2713";
  background: var(--color-light-green);
  color: #fff;
  text-align: center;
  border-color: var(--color-light-green);
}

.progress-box.checked span {
  opacity: 1;
  color: var(--color-light-green);
}

.metadata-progress-box {
  padding-top: 20px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metadata-progress-box span {
  color: #000;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.5;
}

.div-display-details {
  position: absolute;
  width: 350px;
  height: auto;
  bottom: 70px;
  right: 0;
  bottom: 70px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #f0f0f0;
  background: #f5f5f5;
  color: #000;
  padding: 20px;
  line-height: 1.5;
  float: right;
  transform: translateX(350px);
  transition: transform 1.4s ease-in-out;
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  overflow-wrap: break-word;
  z-index: 10;
}

.div-display-details div {
  max-width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  overflow-x: auto;
}

.div-display-details.folders {
  grid-template-rows: 50% 50%;
}

.div-display-details p {
  font-family: inherit;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 13px;
}

.div-display-details textarea {
  font-family: inherit;
  max-height: 60px;
  overflow-y: scroll;
  resize: vertical;
  width: 100%;
  margin-top: 10px;
}

.div-display-details.show {
  transform: translateX(0);
}

.button-display-details {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  opacity: 0.8;
  background: var(--color-bg-plum);
  color: #fff;
  border-radius: 50%;
  border: 1px solid var(--color-bg-plum);
  cursor: pointer;
  box-shadow: 0 0 3px 0 var(--color-bg-plum);
}
