body {
    margin: 0;
    font-family: sans-serif;
}

.container-fluid {
  width: 100%;
  height: 85%;
  padding-right: 10px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

#items {
  min-height:600px;
  max-height: 800px
}

.button-grp {
    display: inline-block;
    margin-right: 30px;
}

a {
  border: none;
}

.button-grp button {
    border: 1px #DBDBDB solid;
    border-radius: 5px;
    font-size: 12px;
    background-color: #F8F8F8;
    outline: none;
    color: #575757;
    margin-right: 0px;
    padding: 5px 10px;
}
.button-grp button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.active-btn {
    background-color: #6C6C6C !important;
    border: 1px #6C6C6C solid !important;
    color: white !important;
}
.main-window {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    width:100%;
    padding: 20px;
}
.sidebar {
    background-color: #258193;

    height: 100%;
}
.sidebar_title {
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 20px 0px 0px 20px;
    margin-top: 0px;
    font-size: 11px;
    font-weight: 900;
    -webkit-user-select: none;
}
.sidebar_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
}
.sidebar_links li {
    color: #f3f3f3;
    text-transform: capitalize;
    padding: 5px 0px 5px 20px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
    -webkit-user-select: none;
}
.active_link {
    background-color: #252525;
}

.window {
    padding: 20px;
    height: calc(100vh - 110px);
    overflow: scroll;
}

.menu {
  background-color: #fff;
  color: #333;
  list-style: none;
  position: absolute;
  padding: 6px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 4px;
  z-index: 1000;
  border: 1px solid rgba(0,0,0,.15);

}

.menu.reg-folder {
    min-width: 110px;
    height: auto;
}

.menu.reg-folder li {
  padding: 3px 10px;
  background-color: #fff;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* .menu.reg-folder li:hover{
  background-color: #fffff
} */

.menu.file {
  min-width: 180px;
  height: auto;
}

.menu.file li {
  padding: 3px 10px;
  background-color: #fff;
  color: black;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.menu.file li:hover{
  background-color: #F0F0F0 ;
}

.menu.reg-folder li:hover{
  background-color: #F0F0F0 ;
}

.menu.high-level-folder li:hover{
  background-color: #F0F0F0;

}

.menu.high-level-folder.off {
  display: none;
  top: -200%;
  left: -200%;
  /* margin-bottom: 0; */
}

.menu.high-level-folder {
  width: 110px;
  height: auto;
}

.menu.high-level-folder li {
  padding: 3px 10px;
  background-color: #fff;
  font-size: 13px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

/* .menu.high-level-folder li:hover{
  background-color: #fffff;
} */

.menu.reg-folder.off{
    display: none;
    top: -200%;
    left: -200%;
}

.menu.file.off{
    display: none;
    top: -210%;
    left: -210%;
}

.menu.file li {
  min-width: 180px;
  background-color: #fff
}

.modal-content textarea{
  font-size: 11px !important;
}

.modal-body {
  padding: 10px 10px;
  font-size: 15px;
}

/* .modal-content title{
  font-size: 12px !important;
} */

.modal-title {
  margin-top: 10px;
}

.modal-header {
  font-size: 17px !important;
  font-weight: bold;
  height: 60px;
  padding: 8px 10px !important;
}

.modal-footer {
  padding: 10px 12px !important;
}

.modal-footer button{
  /* width: 30% !important; */
  padding: 4px 10px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.dropdown-item {
  font-size: 13px !important;
}

.hoverPath {
    width:auto;
    min-height: auto;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    /* box-shadow: 2px 2px 2px #999; */
    border-radius: 3px;
    position: fixed;
    padding: 5px 5px;
    font-size: 12px;
    z-index: 5;
    overflow:hidden;
}

.hoverFullName {
    /* min-width: 50px; */
    max-width: auto;
    min-height: auto;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    /* box-shadow: 2px 2px 2px #999; */
    border-radius: 3px;
    position: absolute;
    padding: 5px 5px;
    font-size: 12px;
    z-index: 1000;
}

.single-item {
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 100px;

    margin-right: 5px;
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
}

.single-item:active {
  /* transform: scale(1.1, 1.1); */
  /* transform: translate(0, -10px); */
  -webkit-transform: all 3s;
}

.single-item:hover {
  border: #c0c0c0;
  background-color: #F5F5F5;
  transform: translateY(-6px);
}

.single-item:hover + #myspan {
  display: block;
}

.myFol {
  width:50px;
  height:50px;
}

.myFol:before {
  content: '';
  background: url('../img/close_folder.png') no-repeat;
  background-size: 60px;
  position:absolute;
  width:60px;
  height:60px;
  margin-right: 10px
}


.myFol.empty:before{
  content: '';
  background: url('../img/close_folder.png') no-repeat;
  opacity: 0.5;
  background-size: 60px;
  position:absolute;
  width:60px;
  height:60px;
  margin-right: 10px
}

.dropdown-item:hover {
  background-color: #F0F0F0 !important;
}

.folder_desc {
    text-align: center;
    font-size: 13px;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    padding: 0px 4px 0px 4px;
    /* word-wrap: break-word; */
    line-height: 1.5;
    margin-right: 5px;
    margin-left: 5px;
    color: black
}
.blue {
    color:rgb(255,165,0,0.8);
}

.red {
    color: red
}
.listview {
    display: grid;
    grid-template-columns: 50px auto;
    border-bottom: solid 1px lightgray;
}
.folder_desclist {
    padding: 15px 0px 0px 20px;
    font-size: 18px;
    -webkit-user-select: none;
}



.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(190, 60%, 36%);
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}
/*
.btn.btn-success:hover {
    border: 5px solid #3b5998;
    box-shadow: 0 0 5px #3b5998;
    transition: all 0.5s ease;
  } */

.button-back {
  color: #258193;
  background-color: #fff;
  border: 1px solid #258193;
  border-radius: 50%;
  /* padding: 15px 18px 30px 15px; */
  cursor: pointer;
  height:35px;
  width:35px;
  font-size:14px;
  box-shadow: 0 0 2px #999;
  background-position: center;
  transition: background 0.8s;
}

.button-back:hover {
  background:#258193 radial-gradient(circle, transparent 1%, #258193 1%) center/15000%;
  color: white;
}
.button-back:active {
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
    transform: translateY(-4px);
}
.button-back:focus {
  outline: none;
}

.myButton {
  margin-right: 3px;
  font-size: 13px;
  color: #fff;
  background-color:#bf3062;
  border: 1px solid transparent;
  border-radius: 5px;
  /* padding: 15px 18px 30px 15px; */
  cursor: pointer;
  height:35px;
  width:110px;
  /* font-size:15px; */
  box-shadow: 0 0 2px #999;
  background-position: center;
  transition: background 0.8s;
}

.myButton.second {
  background-color: #bf3062;
  color: #fff
}

.myButton:hover {
  background: #258193 radial-gradient(circle, transparent 1%, #258193 1%) center/15000%;
  color: white;
  box-shadow: 0 0 5px #3b5998;
  transition: all 0.5s ease;
}
.myButton:active {
  background-color:#292d3e;
  background-size: 100%;
  transition: background 0s;
  transform: translateY(-3px);
}
.myButton:focus {
  outline: none;
}

.myButton.second:hover {
  background: #258193 radial-gradient(circle, transparent 1%, #258193 1%) center/15000%;
  color: #fff;
  box-shadow: 0 0 5px #3b5998;
  transition: all 0.5s ease;
}

.confirmButton {
  left:89%;
  top: 93%;
  position:absolute;
  font-family:'Montserrat', sans-serif;
  width:190px;
  font-size: 15px;
  /* font-weight: 600; */
  color:#fff;
  background-color:#258193;
  border: 2px solid #258193;
  margin: 0 0;
  height:35px;
  background-position: center;
  transition: background 0.8s;
  cursor: pointer;
  border-radius: 5px;
}

.confirmButton:hover {
  box-shadow: 0 0 7px #3b5998;
  /* font-weight: 600; */
  font-size: 16px;
}
.confirmButton:active {
  background-size: 100%;
  transform: translateY(-3px);
}
.confirmButton:focus {
  outline: none;
}

.div-organize-generate-dataset {
  text-align: center;
  min-width: 450px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-generate-dataset {
  width:250px;
  height:250px;
  border: 1px solid #BEBEBE;
  background-color:#F5F5F5;
  font-size:15px;
  border-radius: 50%;
  padding: 15px 15px;
  margin-right:30px;
  color: #222c3c;
  opacity: 0.7;
  position:relative;
}

.button-generate-dataset:hover {
  box-shadow: 0 2px 8px #258193;
  color: var(--color-bg-plum);
  background-color: #fff;
  opacity: 1;
  transform: scale(1.05);
}

.button-generate-dataset:hover .fas.fa-tv {
  color: #FFA500;
}

.button-generate-dataset:hover .fas.fa-cloud-upload-alt {
  color: #1E90FF
}

.button-generate-dataset.active .fas.fa-tv {
  color: #FFA500;
}

.button-generate-dataset.active .fas.fa-cloud-upload-alt {
  color: #1E90FF
}


.button-generate-dataset.active{
  border: 2px solid #258193;
  color: #258193;
  box-shadow: 0 2px 6px #3b5998;
  font-weight: bold;
  opacity: 1;
  outline: none;
}

.button-generate-dataset.active p{
  color: #258193;
}

/* file and folder */
.myFile {
  width: 55px;
  height: 55px;
}

.myFile.csv:before {
  background: url('../img/csv-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.doc:before {
  background: url('../img/doc-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.docx:before {
  background: url('../img/doc-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.png:before {
  background: url('../img/png-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.jpg:before {
  background: url('../img/jpeg-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.pdf:before {
  background: url('../img/pdf-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.txt:before {
  background: url('../img/txt-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}
.myFile.xlsx:before {
  background: url('../img/excel-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}

.myFile.xls:before {
  background: url('../img/excel-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}

.myFile.other:before {
  background: url('../img/other-file.png');
  content: '';
  background-size: cover;
  position:absolute;
  width:55px;
  height:55px;
  margin-left: 10px;
}

.menu-toggle {
  transition: transform 1s ease-in-out !important;
}

.step-dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* visibility: hidden; */
}

.step-dot.active {
  box-shadow: 0 0 5px #3b5998;
  background-color: #258193
}

/* welcome */
@keyframes bounce-7 {
      0%   { transform: scale(1,1)      translateY(0); }
      10%  { transform: scale(1.1,.9)   translateY(0); }
      30%  { transform: scale(1,1)   translateY(-20px); }
      50%  { transform: scale(1,1)  translateY(0); }
      57%  { transform: scale(1,1)      translateY(-5px); }
      64%  { transform: scale(1,1)      translateY(0); }
      100% { transform: scale(1,1)      translateY(0); }
    }
.soda-can-welcome {
  max-width:300px;
  max-height:350px;
  margin:0 auto;
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 2s;
}
