/* Nav bootstrap */
/* toggle button */
#sidebarCollapse {
   width: 40px;
   height: 40px;
   background: #f5f5f5;
   position: relative;
   left: 230px;
   cursor: pointer;
   border-color: transparent;
}

#sidebarCollapse span {
   width: 80%;
   height: 2px;
   margin: 0 auto;
   display: block;
   background: #555;
   transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
/* animate toggle button */
#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#main-nav {
    min-width: 230px;
    max-width: 230px;
    background: #222c3c;
    color: #f0f0f0;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.1s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#main-nav.active {
    margin-left: -230px;
    transform: rotateY(150deg); /* Rotate sidebar vertically by 100 degrees. */
}

.navbar-btn {
  margin-right: 3px;
  font-size: 14px;
  color: #258193;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
  height:35px;
  width:110px;
  /* font-size:15px; */
  /* box-shadow: 0 0 2px #999; */
  background-position: center;
  transition: background 0.1s;
}

.navbar-btn.active {
  margin-left: -230px;
}

.navbar-btn:focus{
  outline: none
}

.navbar-btn.active:focus{
  outline: none
}

.dash-content.active {
  /* transform: translateX(220px); */
  margin-left: -230px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#main-nav .sidebar-header {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background: #222c3c;
  padding-bottom: 30px;
}

#main-nav ul.components {
  /* border-bottom: 1px solid rgba(255,255,255,0.1); */
  list-style: none;
  padding-right: 0;
  margin-right: 0;
}

#main-nav ul p {
    color: #E0E0E0;
    padding: 10px;
}

#main-nav ul li a {
    /* padding: 10px; */
    font-size: 17px;
    display: block;
    line-height: 50px;
    padding-left: 15px;
    text-align: left;
    padding-right: 0;
    color: #E0E0E0;
    border: none;
    background: #222c3c
}

#main-nav ul li a i {
    margin-right: 25px;
}

#main-nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

#main-nav ul li.active > a, a[aria-expanded="true"] {
    color: #000;
    background: #222c3c;
    border-color: transparent
}
/* 
#main-nav ul li a.is-selected {
  color: #000;
  background: #fff;
  border-color: transparent
} */

ul ul a {
    font-size: 15px !important;
    padding-left: 60px !important;
    background: #222c3c;
    text-align: center;
}

.list-unstyled {
  list-style: none;
  border-bottom: none;
  /* display: none; */
}

.nav {
  padding: 0px 0px;
  position: fixed;
  width: 230px;
  min-height: 100vh;
  color: var(--color-subtle);
  visibility: visible;
  left: 0;
  z-index: 1300;
  align-items: stretch;
  display: flex;
}

.nav.is-shown {
  visibility: visible;;
  opacity: 1
}

.nav-header {
  position: relative;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  /*border-bottom: 1px solid var(--color-border);*/
}

.nav-title {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  color: var(--color-strong-white);
  margin-top: 1rem;
  vertical-align: middle;
}

.nav-title strong {
  /* font-weight: 600; */
  color: var(--color-strong-white);
}

.nav-header-icon {
  position: absolute;
  width: 165px;
  height: 70px;
  top: 1.3rem; /* magic */
  right: 1.8rem; /* magic */
  /* margin-left:-25px */
}

.nav-item {
  padding: .5em 0;
  vertical-align: middle;
}

.nav-icon {
  width: 30px;
  height: 30px;
  /* vertical-align: sub; */
  /* margin-right: .25rem; */
  margin-right: 27px;
  padding-bottom:1px;
  padding-top:1px;
  margin-left: -22px;
  margin-top:10px;
  margin-bottom:10px;
  vertical-align: middle;
}

.nav-icon.logo {
  width: 45px;
  height: 45px;
  /* vertical-align: sub; */
  /* margin-right: .25rem; */
  margin-right: 24px;
  margin-left: 15px;
  /* margin-top:5px; */
  margin-bottom:75px;
  vertical-align: middle;
}

.hamburger{
  width: 30px;
  height: 5px;
  position: relative;
  margin: 9px auto;
  margin-left:20px;
  margin-top: 15px;
  margin-bottom:30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#button-hamburger span:nth-child(1) {
  top: 0px;
}
#button-hamburger span:nth-child(2) {
  top: 10px;
}
#button-hamburger span:nth-child(3) {
  top: 20px;
}
#button-hamburger.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#button-hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#button-hamburger.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-video {
  width: 18px;
  height: 21px;
  vertical-align: sub;
  text-decoration: none;
}

.nav-category {
  margin: .2em 0;
  padding-left: 2rem;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

.nav-button {
  display: block;
  width: 100%;
  padding: .5rem;
  padding-left: calc(5rem + 5px + .5rem); /* padding + icon + magic */
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  line-height: 2;
  text-align: left;
  font-size: 16px;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0.8;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  vertical-align: center;
  background-size: 30px 30px;
  background-repeat:no-repeat;
  background-position: 22px center;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: hsla(0,0%,0%,.1);
  color: white;
  opacity: 1
}

.nav-button.is-selected {
  background-color: var(--color-accent);
}

.nav-button.is-selected,
.nav-button.is-selected em {
  color: white;
  font-weight: 500;
  opacity: 1;
}

.nav-button.is-selected:focus {
  opacity: 1;
}

.nav-button em {
  font-style: normal;
  font-weight: 600;
  color: var(--color-strong);
  pointer-events: none; /* makes it invisible to clicks */
}

.nav-footer {
  margin-top: 1rem;
  padding: 2rem;
  border-top: 1px solid var(--color-border);
  text-align: center;
}

.nav-footer-icon {
  width: calc(770px / 6.5);
  height: calc(88px / 6.5);
}

.nav-footer a {
  outline: none;
}

.nav-footer-button {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .75rem;
  line-height: 2;
  text-align: left;
  font: inherit;
  font-size: 15px;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
  text-align: center;
}

.nav-footer-button:focus {
  color: var(--color-strong);
}

.nav-footer-logo {
  color: hsl(0,0%,66%);
}

.nav-footer-logo:focus {
  color: hsl(0,0%,33%);
}

/* Remove border on the logo */
.nav-footer-logo.nav-footer-logo {
  border-bottom: none;
}

.nav-center-logo-image {
  display: block;
  margin-left: 30px;
  margin-bottom:5px;
  margin-top: 20px;
  /* margin-right: auto; */
  height: 50px;
  width: 155px;
}
