/* Nav bootstrap */
/* toggle button */
#sidebarCollapse {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: transparent;
   position: relative;
   top:8px;
   left: 200px;
   cursor: pointer;
   border: 1px solid var(--color-light-green);
   z-index: 2;
}

#sidebarCollapse span {
   width: 80%;
   height: 2px;
   margin: 0 auto;
   display: block;
   background: var(--color-light-green);
   transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
/* animate toggle button */
#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#main-nav {
    min-width: 240px;
    max-width: 240px;
    background: #000;
    opacity: 0.9;
    color: #f0f0f0;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.1s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#main-nav.active {
    width: 0;
    transform: rotateY(150deg); /* Rotate sidebar vertically by 100 degrees. */
}

.navbar-btn.active {
  margin-left: -190px;
}

.navbar-btn:focus{
  outline: none
}

.navbar-btn.active:focus{
  outline: none
}

.dash-content.active {
  margin-left: -230px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#main-nav .sidebar-header {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 10px;
}

#main-nav ul.components {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 0;
}

#main-nav ul p {
    color: #E0E0E0;
    padding: 10px;
}

#main-nav ul li a {
    font-size: 14px;
    display: block;
    line-height: 45px;
    padding-left: 15px;
    margin-bottom: 5px;
    text-align: left;
    padding-right: 10px;
    color: #E0E0E0;
    border: none;
    border-radius: 4px;
}

#main-nav ul li a a {
  padding-left: 10px;
  text-align: left;
  padding-right: 10px;
}

#main-nav ul li a i {
    margin-right: 25px;
    font-size: 20px
}

#main-nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: var(--color-sidebar);
    opacity: 0.7
}

#main-nav ul li a.is-selected {
  color: #fff;
  background: var(--color-light-green);
  border-color: transparent;
  opacity: 0.9;
  font-weight: bold
}

.help-section {
  bottom:2px;
  position:absolute;
  width:230px;
}

.help-section ul {
  padding-left: 15px !important
}

.help-section a{
  text-decoration: none;
  line-height: 5px;
  border: none;
  color:#f0f0f0;
  width: 35px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  z-index: 200;
}

.help-section a i {
  font-size:17px;
  opacity: 0.7
}

.help-section a:hover {
  background: none!important;
  border: none!important;
}

.help-section a:hover i{
  opacity: 1
}

.help-section a.is-selected {
  color: #fff;
  opacity: 0.7;
  font-weight: bold;
  background: none!important;
  border: none!important;
}

.list-unstyled {
  list-style: none;
  border-bottom: none;
}

.collapse:not(.show) {
  display: none; }

.collapse.show {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.nav {
  padding: 0px 0px;
  position: fixed;
  width: 240px;
  min-height: 100vh;
  color: var(--color-subtle);
  visibility: visible;
  left: 0;
  z-index: 1;
  align-items: stretch;
  display: flex;
  transition: 0.5s;
}

@media screen and (max-height: 500px) {
  #main-nav {padding-top: 15px;}
  #main-nav a {font-size: 13px;}
}

.nav.is-shown {
  visibility: visible;;
  opacity: 1
}

.nav-header {
  position: relative;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.nav-title strong {
  color: var(--color-light-green);
  opacity: 0.8;
  transition: color 0.1s ease-in;
}

.nav-title strong:hover {
  color: linear-gradient(90deg, rgba(37,129,147,1) 0%, rgba(52,207,196,1) 51%);
}

.nav-header-icon {
  position: absolute;
  width: 165px;
  height: 70px;
  top: 1.3rem;
  right: 1.8rem;
}

.nav-item {
  padding: .5em 0;
  vertical-align: middle;
  width: 240px !important;
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 27px;
  padding-bottom:1px;
  padding-top:1px;
  margin-left: -22px;
  margin-top:10px;
  margin-bottom:10px;
  vertical-align: middle;
}

.nav-icon.logo {
  width: 45px;
  height: 45px;
  margin-right: 24px;
  margin-left: 15px;
  /* margin-top:5px; */
  margin-bottom:75px;
  vertical-align: middle;
}

.nav-video {
  width: 18px;
  height: 21px;
  vertical-align: sub;
  text-decoration: none;
}

.nav-category {
  margin: .2em 0;
  padding-left: 2rem;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

.nav-button {
  display: block;
  width: 100%;
  padding: .5rem;
  padding-left: calc(5rem + 5px + .5rem); /* padding + icon + magic */
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  line-height: 2;
  text-align: left;
  font-size: 16px;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
  opacity: 0.8;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  vertical-align: center;
  background-size: 30px 30px;
  background-repeat:no-repeat;
  background-position: 22px center;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
  background-color: hsla(0,0%,0%,.1);
  color: white;
  opacity: 1
}

.nav-button.is-selected {
  background-color: var(--color-accent);
}

.nav-button.is-selected,
.nav-button.is-selected em {
  color: white;
  font-weight: 500;
  opacity: 1;
}

.nav-button.is-selected:focus {
  opacity: 1;
}

.nav-button em {
  font-style: normal;
  font-weight: 600;
  color: var(--color-strong);
  pointer-events: none; /* makes it invisible to clicks */
}

.nav-footer {
  margin-top: 1rem;
  padding: 2rem;
  border-top: 1px solid var(--color-border);
  text-align: center;
}

.nav-footer-icon {
  width: calc(770px / 6.5);
  height: calc(88px / 6.5);
}

.nav-footer a {
  outline: none;
}

.nav-footer-button {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .75rem;
  line-height: 2;
  text-align: left;
  font: inherit;
  font-size: 15px;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: default;
  outline: none;
  text-align: center;
}

.nav-footer-button:focus {
  color: var(--color-strong);
}

.nav-footer-logo {
  color: hsl(0,0%,66%);
}

.nav-footer-logo:focus {
  color: hsl(0,0%,33%);
}

/* Remove border on the logo */
.nav-footer-logo.nav-footer-logo {
  border-bottom: none;
}

.nav-center-logo-image {
  display: block;
  margin-left: auto;
  margin-bottom:10px;
  margin-top: 10px;
  margin-right: auto;
  height: 95px;
  width: 100px;
  padding-left: 0;
}
