.wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 94.5%;
  padding-right: 20px;
  margin-bottom: 50px;
}

.sub-wrapper {
  width: 100%;
  border-bottom: 3px solid #b80d49;
  margin-bottom: -5px;
}

.need-help-div {
  width: 100%;
  border-bottom: 5px solid #b80d49;
  margin-bottom: -5px;
  display: flex;
  flex-direction: row;
  /* height: 40px; */
}

.need-help-div h2 {
  font-size: 14px;
  width: 70%;
  margin-right: 0;
  color: #222;
  font-weight: 600;
  /* padding: 10px; */
  border: 1px solid transparent;
  text-align: left;
}

.need-help-div a {
  text-decoration: none;
  width: 30%;
  /* padding-top: 12px; */
  border-bottom: none !important;
  text-align: right;
  color: #4183c4;
}

.need-help-div a:hover {
  text-decoration: underline;
}
