/* This is a CSS file for the button standards used throughout SODA */

.content-button {
  width: 150px;
  height: 150px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.green-hollow-button {
  color: var(--color-light-green) !important;
  box-shadow: 0 0 0 1px var(--color-light-green) inset !important;
}

.red-hollow-button {
  color: red !important;
  font-weight: 600 !important;
  border: 1px solid red !important;
  font-size: 15px !important;
  background: #fff !important;
}

.content-button p {
  color: #222c3c;
  font-size: 14px;
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  pointer-events: none;
}

.content-button:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button:active {
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button svg {
  margin: 0 auto;
  pointer-events: none;
}

.content-button h2,
.tile-button h2 {
  color: #4d4a4a;
  font-weight: 400;
  font-size: 14px;
  bottom: -1em;
  font-family: Poppins, sans-serif;
  pointer-events: none;
  text-align: center;
}

.dataset-card-button-confirm {
  background-color: var(--color-light-green) !important;
  width: 175px !important;
  margin: 4px;
  margin-bottom: 15px;
}

.dataset-card-button-container.align-right {
  align-items: flex-end;
}

.dataset-card-button-confirm {
  background-color: var(--color-light-green) !important;
  margin: 4px;
  margin-bottom: 15px;
}

.guided--progress-button-share {
  background-color: #1e90ff !important;
  margin: 4px;
  margin-bottom: 15px;
  width: 252px;
}

.guided--progress-button-resume-curation {
  background-color: var(--color-light-green) !important;
  margin: 4px;
  margin-bottom: 15px;
}

.guided--progress-button-resume-pennsieve {
  background-color: #ff5722 !important;
  margin: 4px;
  margin-bottom: 15px;
}

.guided--progress-button-switch-workspace,
.guided--progress-button-login-to-pennsieve {
  background-color: gainsboro !important;
  margin: 4px;
  margin-bottom: 15px;
  color: black !important;
}

.tile-button-icon {
  height: 50px;
  width: 50px;
}

.dataset-card-body.shrink {
  height: auto;
}

.dataset-card {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-shadow: 0px 0px 10px #d5d5d5;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.dataset-card-row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.dataset-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.dataset-card-body {
  display: flex;
  height: 80px;
  flex-grow: 1;
  margin: 5px;
  margin-left: 12px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.dataset-card-clock-icon {
  margin: 0px;
  color: #999;
  font-weight: 600;
  font-size: 12px !important;
  width: auto;
}

.prepublishing-item-button {
  border: none;
  border-radius: 0.28571429rem;
  background: 0 0;
  height: 2rem;
  width: 12rem;
}

.dataset-card-button-delete {
  width: auto;
  text-decoration: underline;
  cursor: pointer;
  margin: 0px;
  color: black;
  font-weight: 600;
  font-size: 14px !important;
}

.disabled-content-button {
  width: 150px;
  height: 150px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.disabled-content-button h2 {
  color: #4d4a4a;
  font-weight: 400;
  font-size: 14px;
  bottom: -1em;
  font-family: "Raleway", sans-serif;
  pointer-events: none;
  text-align: center;
  margin-top: 1em;
}

.curate-disabled-button {
  background: #f6f6f6;
  background-color: #f6f6f6;
  color: #4d4a4a;
  overflow: hidden;
  cursor: initial !important;
}

.curate-disabled-button:hover {
  box-shadow: 0px 0px 10px #d5d5d5 !important;
}

.disabled-generate-button {
  background: #f6f6f6 !important;
  margin: 5px;
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: none !important;
  border-radius: 8px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  cursor: initial !impo\rtant;
}

.disabled-generate-button:hover {
  box-shadow: 0px 0px 10px #d5d5d5 !important;
}

.button-generate-dataset {
  width: 200px;
  height: 200px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 0;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 30px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
}

.button-generate-dataset:hover {
  outline: none;
  /* border: 1px solid var(--color-light-green); */
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.button-generate-dataset:active,
.button-generate-dataset:focus {
  outline: none;
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.button-generate-dataset p {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.button-generate-dataset svg {
  margin: 0 auto;
}

.button-generate-dataset .bi.bi-file-earmark-plus {
  display: block;
}

.button-generate-dataset .bi.bi-check2 {
  display: none;
}

.file-templates-button {
  width: 160px;
  height: 160px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 30px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.file-templates-button svg {
  margin: 0 auto;
  fill: var(--tagify-dd-color-primary);
  width: 45px;
  height: 45px;
  pointer-events: none;
}

.file-templates-button:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.file-templates-button:active {
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.metadata-button.button-generate-dataset.code-metadata {
  display: none;
}

.metadata-button.button-generate-dataset.done {
  border: 1px solid var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.metadata-button.button-generate-dataset.done p {
  color: var(--color-light-green);
  font-weight: 600;
}

.metadata-button.button-generate-dataset.done .bi.bi-file-earmark-plus {
  display: none;
}

.metadata-button.button-generate-dataset.done .bi.bi-check2 {
  color: var(--color-light-green);
  display: block !important;
  margin: 0 auto;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.folder-upload-div button {
  width: 100px;
  height: 25px;
  background: #fff;
  color: var(--color-light-green);
  border: 1px solid var(--color-light-green);
  border-radius: 3px;
  box-shadow: 0 0 3px 0 var(--color-light-green);
  margin: 0 auto;
  cursor: pointer;
}

.ffm-return-button {
  height: 37px !important;
  max-height: 37px;
  width: 120px !important;
  margin-left: 1rem !important;
  margin-bottom: 3px !important;
  font-family: Poppins !important;
}

.ffm-return-button:hover {
  border: 1px solid var(--color-light-green) !important;
  box-shadow: 0 0 6px #b0b0b0 !important;
}

/* Footer buttons */

.save-and-exit-button {
  width: 160px !important;
  cursor: pointer !important;
  color: var(--color-light-green) !important;
  box-shadow: 0 0 0 1px var(--color-light-green) inset !important;
}

.start-over-button {
  background-color: #fff;
  color: #b80d49;
  border: 1px solid #b80d49;
  font-weight: 600;
  padding: 5px;

  margin-left: 10px;
  right: 10px;
  margin-bottom: 10px;
  width: 135px;
}
