/* This is a CSS file for all the containers used throughout SODA */

/* Containers */

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px;
}

.poolContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px !important;
  margin-bottom: 1rem;
  direction: ltr;
}

.poolTitleContainer {
  margin-top: 0px !important;
  background: #fff6ea;
  height: 35px;
  margin-bottom: -1px;
  border-bottom: 1px solid black;
  /* padding-top: 0 !important; */
}

.copy-doi-text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 9rem;
}

.copy-doi-container {
  font-size: large;
  border: 2px solid var(--button-color);
  padding: 0rem 0rem 0rem 0.3rem;
  border-radius: 5px;
  height: 44px;
  width: 491px;
  display: flex;
}

.wide-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 360px;
  height: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
}

.wide-card-lottie-container {
  height: 122px;
  width: 160px;
}

.button-prompt-container {
  width: 600px;
  height: 170px !important;
  margin: 13px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: 0px 0px 10px #d5d5d5;
  border-radius: 30px;
}

.button-prompt-container:hover {
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
}

.container-open {
  display: flex !important;
  margin-bottom: 0px;
  animation: demo-box-fade-in 0.2s cubic-bezier(0, 0.2, 0.2, 0.96);
}

.container-end {
  max-height: 90px;
  padding: 15px;
  padding-top: 30px;
}

.ffm-return-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0px 3px;
}

.copy-doi-container {
  font-size: large;
  border: 2px solid var(--button-color);
  padding: 0rem 0rem 0rem 0.3rem;
  border-radius: 5px;
  height: 44px;
  width: 491px;
  display: flex;
}

.copy-doi-text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-left: 9rem;
}

.selectAll-container {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 38px;
}

.details-box {
  display: none;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  background-color: #f8f8f9;
  border-color: #f8f8f9;
}

.jexcel_container {
  margin-right: 20px;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
  margin-left: 25px;
  align-items: start;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.about-container {
  border-radius: 0.5rem;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin-bottom: 3rem;
  align-self: center;
}

.drag-drop-container-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px;
  opacity: 0.55;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 8px;
}

.checkbox-container:hover {
  background-color: #f7f7f7;
}

.info-container {
  background-color: var(--color-transparent-soda-green);

  margin-top: 5px;
  padding: 10px;
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;

  text-align: justify;

  border: 1px solid var(--color-light-green);
  border-radius: 3px;
}

.dataset-card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: center;
}

.container-dataset-card-center {
  display: flex;
  flex-direction: colum;
  align-items: center;
}

.container-tab-information-header {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 94.5%;
  margin-bottom: 50px;
  margin-left: 15px;
}

/* YouTube video frames */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  margin-left: 5em;
  margin-top: 1em;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}

.pre-publishing-continue-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guided--pre-publishing-continue-container {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prepublish-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  margin-top: 1rem;
}

/* TODO: remove the keyword guided on the classes below */

.footer-container {
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  padding-top: 15px;
  height: 5rem;
}

.guided--progress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.guided--datasets-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 0px 15px;
}

.guided--dataset-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #e6e8eb;
  border-bottom: 1px solid #e6e8eb;
  padding-left: 7px;
  padding-right: 7px;
}

.guided--info-container {
  background-color: var(--color-transparent-soda-green);

  margin-top: 5px;
  padding: 10px;

  display: none;
  flex-direction: column;
  justify-content: center;

  text-align: justify;

  border: 1px solid var(--color-light-green);
  border-radius: 3px;
}

/* Below are the classes for the circular progress bar */

.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(1);
}

.circular .inner {
  position: relative;
  z-index: 6;
  top: 110%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #f5f5f5;
  border-radius: 100%;
}

.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.circular .fix {
  position: relative !important;
  top: 60% !important;
  z-index: 100 !important; /* left: 40% !important; */
  text-align: center;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: var(--color-light-green);
}

.circle .left .progress {
  z-index: 1;
  transition: transform 600ms ease;
}

.circle .right {
  transform: rotate(180deg);
  transition: linear;
  z-index: 3;
}

.circle .right .progress {
  transition: transform 600ms ease;
}

/* Below are the classes for the gray bar loaders (used in  */

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  margin: 15px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.top-level-card-container {
  margin: auto;
  width: 550px;
}
