.swal-file-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 5px;
  border: 2px solid var(--color-light-green);
  margin-top: 5px;
  margin-bottom: 5px;
}

.swal-file-row {
  display: flex;
  white-space: nowrap;
  width: 100%;
  align-items: flex-start;
  padding: 2px;
}
/* Add borders to swal file row in swal file list besides the top border for first element and bottom border for last element */
.swal-file-row:not(:first-child) {
  border-top: 1px solid #eee;
}

.swal-file-text {
  font-size: 12px;
}

.swal-confirm-button {
  background-color: var(--color-light-green) !important;
}

.swal-deny-button {
  background-color: #757575 !important;
}

.swal-cancel-button {
  background-color: red !important;
}
