/* Fonts ---------------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");

@font-face {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Source Code Pro'; */
  font-style: normal;
  font-weight: 400;
  /* src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype'); */
}

/* Global CSS to Standardize the styling used throughout SODA */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Poppins, "BlinkMacSystemFont", "Lucida Grande", "Segoe UI", Ubuntu, Cantarell,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  color: var(--color);
  background-color: #fff; /* To cover OSes with no default background color */
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

a {
  color: var(--color-link);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
  font-family: Poppins;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: Poppins;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  font-family: Poppins;
}

h3 {
  font-size: 1.12em;
  font-weight: 600;
  font-family: Poppins;
}

h5 {
  font-size: 1em;
  font-weight: 600;
  font-family: Poppins;
}

p,
label,
button,
a,
select,
span,
option,
div,
font,
input {
  font-family: Poppins !important;
}

textarea {
  font-family: Poppins;
  font-size: 15px;
}

/* Global classes for text styling */

.help-text {
  font-size: 16px;
  max-width: 800px;
  text-align: justify;
}

.help-text.small {
  font-size: 13px;
  max-width: 650px;
}

.about-text {
  color: dimgray !important;
  text-align: justify;
  font-size: 1rem !important;
  font-weight: 500 !important;
  margin-top: 10px;
}

.info-dropdown-text {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.info-container.help-text {
  font-size: 14px;
  color: hsl(0, 0%, 22%);
}

/* Dropdown classes */
.info-container {
  background-color: var(--color-transparent-soda-green);

  margin-top: 5px;
  padding: 10px;
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: center;

  text-align: justify;

  border: 1px solid var(--color-light-green);
  border-radius: 3px;
}

.info-dropdown {
  display: flex;
  align-self: flex-start;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.info-dropdown i {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 12px;
  color: #000;
}

.container-open {
  display: flex;
  margin-bottom: 0px;
  animation: demo-box-fade-in 0.2s cubic-bezier(0, 0.2, 0.2, 0.96);
}

.text-input-instructions {
  font-size: 13px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 5px;
  color: dimgray !important;
}

/* Card/tile standards */

.content-button {
  width: 150px;
  height: 150px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button p {
  color: #222c3c;
  font-size: 14px;
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  pointer-events: none;
}

.content-button:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button:active {
  border: 1px solid var(--color-light-green);
  box-shadow: 0px 0px 3px 0px var(--color-light-green);
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.content-button svg {
  margin: 0 auto;
  pointer-events: none;
}

.content-button h2,
.tile-button h2 {
  color: #4d4a4a;
  font-weight: 400;
  font-size: 14px;
  bottom: -1em;
  font-family: Poppins, sans-serif;
  pointer-events: none;
  text-align: center;
  margin-top: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
}

.tile-button-icon {
  height: 50px;
  width: 50px;
}

.tile-button-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dataset-card {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-shadow: 0px 0px 10px #d5d5d5;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.dataset-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.container-dataset-card-center {
  display: flex;
  flex-direction: colum;
  align-items: center;
}

.dataset-card-body {
  display: flex;
  height: 80px;
  flex-grow: 1;
  margin: 5px;
  margin-left: 12px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.dataset-card-body.shrink {
  height: auto;
}

.dataset-card-row {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.dataset-card-title-text {
  margin: 0px;
  color: black;
  font-weight: 600;
  font-size: 14px !important;
}

.dataset-card-subtitle-text {
  margin: 0px;
  color: black;
  font-weight: 400;
  font-size: 14px !important;
}

.dataset-card-clock-icon {
  margin: 0px;
  color: #999;
  font-weight: 600;
  font-size: 12px !important;
  width: auto;
}

.dataset-card-date-text {
  margin: 0px;
  color: black;
  font-weight: 600;
  font-size: 14px !important;
  margin-left: 0.5rem !important;
}

.dataset-card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.dataset-card-button-confirm {
  background-color: var(--color-light-green) !important;
  width: 175px !important;
  margin: 4px;
  margin-bottom: 15px;
}

.dataset-card-button-delete {
  width: auto;
  text-decoration: underline;
  cursor: pointer;
  margin: 0px;
  color: black;
  font-weight: 600;
  font-size: 14px !important;
}

.disabled-content-button {
  width: 150px;
  height: 150px;
  border: none;
  background-color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-teal);
  opacity: 1;
  position: relative;
  box-shadow: 0px 0px 10px #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
}

.disabled-content-button h2 {
  color: #4d4a4a;
  font-weight: 400;
  font-size: 14px;
  bottom: -1em;
  font-family: "Raleway", sans-serif;
  pointer-events: none;
  text-align: center;
  margin-top: 1em;
}

.disabled-generate-button {
  background: #f6f6f6;
  margin: 5px;
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: none !important;
  border-radius: 8px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.disabled-animated-div {
  padding-top: 10px;
  background: #f6f6f6;
  color: #4d4a4a;
  width: inherit;
  height: inherit;
  border-radius: 8px;
  overflow: hidden;
}

/* Footer buttons */

.save-and-exit-button {
  width: 160px !important;
  font-weight: 600;
  color: var(--color-light-green) !important;
  box-shadow: 0 0 0 1px var(--color-light-green) inset !important;
  cursor: pointer !important;
  background: #fff;
}

.start-over-button {
  background-color: #fff;
  color: #b80d49;
  border: 1px solid #b80d49;
  font-weight: 600;
  padding: 5px;

  margin-left: 10px;
  right: 10px;
  margin-bottom: 10px;
  width: 135px;
}

/* 
  Helper classes (Similar to tailwind's class structure) 
*/

.grow {
  flex-grow: 1;
}

.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  transform: translateX(0);
  transition: visibility 0s 0s linear, opacity 0.36s ease-out, transform 0.36s ease-out;
}

.remove-margin-right {
  margin-right: 0px !important;
}

.remove-left-border {
  border-left: none !important;
}
.soda-green {
  background-color: var(--color-light-green) !important;
  color: white !important;
}
.required:after {
  content: " *";
  color: red;
}
.justify-center {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-sm {
  margin-top: 7px !important;
}
.mt-md {
  margin-top: 14px !important;
}
.mt-lg {
  margin-top: 20px !important;
}
.mt-xl {
  margin-top: 35px !important;
}
.mb-sm {
  margin-bottom: 7px !important;
}
.mb-md {
  margin-bottom: 14px !important;
}
.mb-lg {
  margin-bottom: 20px !important;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-around {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.swal-wide {
  width: 500px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  height: 100%;
}

.hide {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s 0.12s linear, opacity 0.12s ease-in, transform 0.12s ease-in-out;
}

.coming-soon-div {
  pointer-events: none;
}

.onHoverBlueBoxShadow:hover {
  box-shadow: 0 0 6px #b0b0b0 !important;
  border: 1px solid #1678c2 !important;
}

.onHoverBlackBoxShadow:hover {
  box-shadow: 0 0 6px #b0b0b0 !important;
  border: 1px solid black !important;
}

/* Animations */

.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(1);
}

.circular .inner {
  position: relative;
  z-index: 6;
  top: 110%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #f5f5f5;
  border-radius: 100%;
}

.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.circular .fix {
  position: relative !important;
  top: 60% !important;
  z-index: 100 !important; /* left: 40% !important; */
  text-align: center;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: var(--color-light-green);
}

.circle .left .progress {
  z-index: 1;
  transition: transform 600ms ease;
}

.circle .right {
  transform: rotate(180deg);
  transition: linear;
  z-index: 3;
}

.circle .right .progress {
  transition: transform 600ms ease;
}

.pennsieve_loading_dataset_percentage {
  font-family: Poppins !important;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


@-webkit-keyframes swing {
  15% {
    opacity: 0;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  30% {
    opacity: 0.3;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  65% {
    opacity: 0.65;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    opacity: 0;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  30% {
    opacity: 0.3;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  65% {
    opacity: 0.65;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Code */

code,
kbd {
  font-family: "Source Code Pro", monospace;
  border-radius: 4px;
  padding: 1px 4px;
  white-space: nowrap;
  color: hsl(0, 0%, 36%);
  background-color: hsla(0, 0%, 60%, 0.15);
}

pre,
kbd {
  font-size: 13px;
  overflow: auto;
  padding: 1em;
  margin: 0;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--color-border);
  background-color: white;
}

pre code {
  white-space: pre;
}

pre > .hljs {
  color: var(--color-subtle);
  background-color: white;
}

kbd {
  padding: 0.5em;
}

/* Utilities ---------------------------- */

.u-avoid-clicks {
  pointer-events: none;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-display {
  display: none;
}

/* Content ------------------ */

.content {
  flex: 1;
  position: relative;
  overflow: hidden;
  visibility: visible;
  opacity: 0;
  border: none;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #fff;
  max-width: 100%;
  margin-top: 10px;
}
.content.is-shown {
  visibility: visible;
  opacity: 1;
}

/* Hacks ---------------------------- */

/* Fixes horizontal scrolling in code blocks on OS X El Cap (10.11.3), retina screen
 *
 * By adding an invisible outline property, it will force a repaint
 * which enables the scrolling.
 */

.hljs:hover,
.hljs:active {
  outline: 1px solid transparent;
}