/* This is a css file for the splash screen including animations */

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* margin-left: 30px; */
  /* margin-top: 5px; */
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}


.loading-soda-can {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.center-splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 100%;
}