.hoveredArrowLeft {
  animation: moveLeft 0.5s infinite alternate;
}

.hoveredArrowRight {
  animation: moveRight 0.5s infinite alternate;
}

.homePageNavButton {
  width: 250px !important;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
