name: Build-and-deploy-win
run-name: ${{ github.actor }} is building a Windows release for SODA

on:
  push:
    branches:
      - main
      - staging

jobs:
  deploy-on-windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: env-electron-python
          environment-file: tools/anaconda-env/environment-Windows.yml
          auto-update-conda: true
          auto-activate-base: false
      - run: |
          conda activate  env-electron-python
          conda info
          conda list

      - uses: actions/setup-node@v4
        with:
          node-version: "lts/hydrogen"

      - name: Install package.json modules and their dependencies
        run: npm install --ignore-scripts

      - name: Deploy the app to GitHub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run deploy-win
